<section class="expert-form">

    <div class="expert-form__bg">
        <img src="img/yalilov.svg" alt="" class="expert-form__bg-yalilov">

        <img src="img/partners.svg" alt="" class="expert-form__bg-partners">
    </div>
    <div class="container">
        <div class="expert-form__content">
            <div class="expert-form__top-row">
                <div class="expert-form__left-col">

                </div>
                <div class="expert-form__right-col">
                    <h2 class="expert-form__heading">
                        Вы можете задать<br> вопрос эксперту
                    </h2>
                    <form action="/" method="POST" class="expert-form__form">
                        <div class="expert-form__form-text">
                            <p>
                                Если у вас есть вопросы к нашему специалисту, оставьте ваши контакты, и мы свяжемся с
                                вами в течении 30 минут
                            </p>
                        </div>
                        <div class="expert-form__row">
                            <div class="expert-form__col">
                                <div class="expert-form__input-wrapper">

                                    <input type="text" class="expert-form__input" placeholder="Ваше имя" id="name">
                                    <label for="name" class="expert-form__label">
                                        Ваше имя
                                    </label>
                                </div>
                            </div>
                            <div class="expert-form__col">
                                <div class="expert-form__input-wrapper">

                                    <input type="text" class="expert-form__input" placeholder="E-mail или телефон"
                                        id="contact">
                                    <label for="contact" class="expert-form__label">
                                        E-mail или телефон
                                    </label>
                                </div>
                            </div>
                            <div class="expert-form__col expert-form__col--fullwidth">
                                <div class="expert-form__input-wrapper">

                                    <input type="text" class="expert-form__input" placeholder="Ваш вопрос"
                                        id="question">
                                    <label for="question" class="expert-form__label">
                                        Ваш вопрос
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="expert-form__controls">
                            <div class="expert-form__policy">
                                <label class="expert-form__policy-checkbox">
                                    <input type="checkbox" class="expert-form__policy-checkbox-input">
                                    <span class="expert-form__policy-checkbox-mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="expert-form__policy-checkbox-text">
                                        Нажимая кнопку «Отправить», вы соглашаетесь с <a href="#">
                                            Политикой конфиденциальности
                                        </a>
                                    </span>

                                </label>
                            </div>

                            <button class="expert-form__policy-submit" type="submit">
                                <span class="expert-form__policy-submit-text" data-text="Отправить">
                                    <span class="expert-form__policy-submit-inner">
                                        Отправить
                                    </span>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>