<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <div class="page-header__mobile-menu">
                <div class="page-header__mobile-menu-bg">
                    <img src="img/yalilov.svg" alt="" class="page-header__mobile-menu-bg-yalilov">
                    <img src="img/partners.svg" alt="" class="page-header__mobile-menu-bg-partners">
                </div>
                <div class="container">


                    <div class="page-header__mobile-menu-inner">
                        <div class="page-header__mobile-menu-row">
                            <div class="page-header__mobile-menu-left-col">
                                <ul class="page-header__mobile-menu-nav">
                                    <li class="page-header__mobile-menu-nav-item">
                                        <a href="#" class="page-header__mobile-menu-nav-link">
                                            Практики
                                        </a>
                                        <div class="page-header__mobile-menu-nav-item-bar">

                                        </div>
                                    </li>
                                    <li class="page-header__mobile-menu-nav-item">
                                        <a href="#" class="page-header__mobile-menu-nav-link">
                                            Социальная активность
                                        </a>
                                        <div class="page-header__mobile-menu-nav-item-bar">

                                        </div>
                                    </li>
                                    <li class="page-header__mobile-menu-nav-item">
                                        <a href="#" class="page-header__mobile-menu-nav-link">
                                            Пресс-центр
                                        </a>
                                        <div class="page-header__mobile-menu-nav-item-bar">

                                        </div>
                                    </li>
                                    <li class="page-header__mobile-menu-nav-item">
                                        <a href="#" class="page-header__mobile-menu-nav-link">
                                            О компании
                                        </a>
                                        <div class="page-header__mobile-menu-nav-item-bar">

                                        </div>
                                    </li>
                                    <li class="page-header__mobile-menu-nav-item">
                                        <a href="#" class="page-header__mobile-menu-nav-link">
                                            Отрасли
                                        </a>
                                        <div class="page-header__mobile-menu-nav-item-bar">

                                        </div>
                                    </li>
                                    <li class="page-header__mobile-menu-nav-item">
                                        <a href="#" class="page-header__mobile-menu-nav-link">
                                            Контакты
                                        </a>
                                        <div class="page-header__mobile-menu-nav-item-bar">

                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="page-header__mobile-menu-right-col">
                                <a href="tel:+78432230357" class="page-header__mobile-menu-phone">
                                    8 843 223 03 57
                                </a>
                                <a href="mailto:info@ypartners.ru"
                                    class="page-header__mobile-menu-email">info@ypartners.ru</a>
                                <div class="page-header__mobile-menu-address">
                                    Республика Татарстан, Казань,<br> ул Чернышевского, 33, 2 этаж
                                </div>
                                <div class="page-header__mobile-menu-social">
                                    <a href="#" class="page-header__mobile-menu-social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-facebook">
                                            <use xlink:href="#facebook"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="page-header__mobile-menu-social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-twitter">
                                            <use xlink:href="#twitter"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="page-header__mobile-menu-social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                            <use xlink:href="#instagram"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="page-header__mobile-menu-social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-vk">
                                            <use xlink:href="#vk"></use>
                                        </svg>
                                    </a>
                                </div>
                                <a href="#" class="page-header__mobile-menu-contact-btn js-open-form">
                                    Напишите нам
                                </a>
                            </div>
                        </div>
                        <a href="#" class="page-header__mobile-menu-logo">
                            <img src="img/white-logo.svg" alt="" class="page-header__mobile-menu-logo-image">
                        </a>

                        <div class="page-header__mobile-menu-languages">
                            <a href="#" class="page-header__mobile-menu-languages-link active">
                                RU
                            </a>
                            <a href="#" class="page-header__mobile-menu-languages-link">
                                ENG
                            </a>
                            <a href="#" class="page-header__mobile-menu-languages-link">
                                TAT
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            {{#if headerLanguage}}
            <div class="page-header__languages">
                <a href="#" class="page-header__languages-link active">
                    RU
                </a>
                <a href="#" class="page-header__languages-link">
                    ENG
                </a>
                <a href="#" class="page-header__languages-link">
                    TAT
                </a>
            </div>
            {{else}}
            <div class="page-header__logo-block js-sticky-logo">
                <a href="#" class="page-header__logo">
                    <img src="img/logo.svg" alt="" class="page-header__logo-image">
                    <img src="img/white-logo.svg" alt="" class="page-header__logo-image-white">
                </a>
            </div>
            {{/if}}
            <a href="#" class="page-header__mobile-logo">
                <img src="img/logo.svg" alt="" class="page-header__mobile-logo-image" width="100">
                <img src="img/white-logo.svg" alt="" class="page-header__mobile-logo-image-white">
            </a>
            <ul class="page-header__nav-list">
                <li class="page-header__nav-list-item">
                    <a href="#" class="page-header__nav-link">
                        <span class="page-header__nav-link-text" data-text="Отрасли">
                            <span class="page-header__nav-link-text-inner">
                                Отрасли
                            </span>

                        </span>
                    </a>
                </li>
                <li class="page-header__nav-list-item">
                    <a href="#" class="page-header__nav-link">
                        <span class="page-header__nav-link-text" data-text="Практики">
                            <span class="page-header__nav-link-text-inner">
                                Практики
                            </span>

                        </span>
                    </a>
                </li>
                <li class="page-header__nav-list-item">
                    <a href="#" class="page-header__nav-link">
                        <span class="page-header__nav-link-text" data-text="Социальная активность">
                            <span class="page-header__nav-link-text-inner">
                                Социальная активность
                            </span>

                        </span>
                    </a>
                </li>
            </ul>


            <div class="page-header__burger-section">
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-list-item">
                        <div class="page-header__dropdown-link">
                            <div class="page-header__dropdown-link-btn">
                                Компания

                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-up">
                                    <use xlink:href="#arrow-up"></use>
                                </svg>
                            </div>
                            <div class="page-header__dropdown">
                                <div class="page-header__dropdown-inner">
                                    <a href="#" class="page-header__dropdown-inner-link">
                                        О нас
                                    </a>
                                    <a href="#" class="page-header__dropdown-inner-link">
                                        Команда
                                    </a>
                                    <a href="#" class="page-header__dropdown-inner-link">
                                        Награды и рейтинги
                                    </a>
                                    <a href="#" class="page-header__dropdown-inner-link">
                                        Карьера
                                    </a>
                                </div>
                            </div>
                        </div>

                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            <span class="page-header__nav-link-text" data-text="Пресс-центр">
                                <span class="page-header__nav-link-text-inner">
                                    Пресс-центр
                                </span>

                            </span>
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            <span class="page-header__nav-link-text" data-text=" Контакты">
                                <span class="page-header__nav-link-text-inner">
                                    Контакты
                                </span>

                            </span>
                        </a>
                    </li>
                </ul>
                <button class="page-header__burger js-menu-burger">

                </button>
            </div>

        </div>
        <section class="expert-form expert-form-menu" id="expert-form">

            <div class="expert-form__bg">
                <img src="img/yalilov.svg" alt="" class="expert-form__bg-yalilov">

                <img src="img/partners.svg" alt="" class="expert-form__bg-partners">
            </div>
            <div class="container">
                <div class="expert-form__content">
                    <div class="expert-form__top-row">
                        <div class="expert-form__left-col">
                            <div class="page-header__languages">
                                <a href="#" class="page-header__languages-link active">
                                    RU
                                </a>
                                <a href="#" class="page-header__languages-link">
                                    ENG
                                </a>
                                <a href="#" class="page-header__languages-link">
                                    TAT
                                </a>
                            </div>
                            <a href="#" class="intro__logo intro__logo-form">
                                <img src="img/white-logo.svg" alt="">
                            </a>
                        </div>
                        <div class="expert-form__right-col">
                            <h2 class="expert-form__heading">
                                Будем рады ответить на ваши вопросы
                            </h2>
                            <form action="/" method="POST" class="expert-form__form" data-need-validation
                                id="contact-form">
                                <div class="expert-form__form-text">
                                    <p>
                                        Если у вас есть вопросы к нашему специалисту, оставьте ваши контакты, и мы
                                        свяжемся с
                                        вами в течении 30 минут
                                    </p>
                                </div>
                                <div class="expert-form__row">
                                    <div class="expert-form__col">
                                        <div class="expert-form__input-wrapper">

                                            <input type="text" class="expert-form__input" placeholder="Ваше имя"
                                                id="name" required>
                                            <label for="name" class="expert-form__label">
                                                Ваше имя
                                            </label>
                                        </div>
                                    </div>
                                    <div class="expert-form__col">
                                        <div class="expert-form__input-wrapper">

                                            <input type="tel" class="expert-form__input js-phone-input"
                                                placeholder="Телефон" id="phone" required data-parsley-phone>
                                            <label for="phone" class="expert-form__label">
                                                Телефон
                                            </label>
                                        </div>
                                    </div>
                                    <div class="expert-form__col">
                                        <div class="expert-form__input-wrapper">

                                            <input type="email" class="expert-form__input" placeholder="E-mail"
                                                id="email" required>
                                            <label for="email" class="expert-form__label">
                                                E-mail
                                            </label>
                                        </div>
                                    </div>
                                    <div class="expert-form__col expert-form__col--fullwidth">
                                        <div class="expert-form__input-wrapper">

                                            <input type="text" class="expert-form__input" placeholder="Ваш вопрос"
                                                id="question">
                                            <label for="question" class="expert-form__label">
                                                Ваш вопрос
                                            </label>
                                        </div>
                                    </div>

                                    {{!-- <div class="expert-form__col expert-form__col--fullwidth">
                                        <div class="expert-form__input-wrapper">
                                            <label class="expert-form__file-upload js-file-upload">
                                                <input type="file" class="expert-form__file-upload-input">
                                                <div class="expert-form__file-upload-content js-file-upload-text">
                                                    <svg width="14" height="14" aria-hidden="true"
                                                        class="icon-paperclip">
                                                        <use xlink:href="#paperclip"></use>
                                                    </svg>
                                                    <div class="expert-form__file-upload-large-text">
                                                        Прикрепить файл
                                                    </div>
                                                </div>
                                            </label>

                                        </div>
                                    </div> --}}

                                </div>
                                <div class="expert-form__controls">
                                    <div class="expert-form__policy">
                                        <label class="expert-form__policy-checkbox">
                                            <input type="checkbox" class="expert-form__policy-checkbox-input" required
                                                checked>
                                            <span class="expert-form__policy-checkbox-mark">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                                    <use xlink:href="#checkmark"></use>
                                                </svg>
                                            </span>
                                            <span class="expert-form__policy-checkbox-text">
                                                Нажимая кнопку «Отправить», вы соглашаетесь с <a href="#">
                                                    Политикой конфиденциальности
                                                </a>
                                            </span>

                                        </label>
                                    </div>

                                    <button class="expert-form__policy-submit" type="submit">
                                        <span class="expert-form__policy-submit-text" data-text="Отправить">
                                            <span class="expert-form__policy-submit-inner">
                                                Отправить
                                            </span>
                                        </span>
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div class="expert-form__success">
                <div class="container">
                    <div class="expert-form__success-row">
                        <h4 class="expert-form__success-heading">
                            Благодарим за обращение!
                        </h4>
                        <div class="expert-form__success-message">
                            <p>
                                Наши специалисты свяжутся с вами и ответят на все вопросы в течение 30 минут!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</header>