<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <div class="page-header__mobile-menu">
                <div class="page-header__mobile-menu-bg">
                    <img src="img/yalilov.svg" alt="" class="page-header__mobile-menu-bg-yalilov">
                    <img src="img/partners.svg" alt="" class="page-header__mobile-menu-bg-partners">
                </div>
                <div class="container">


                    <div class="page-header__mobile-menu-inner">
                        <div class="page-header__mobile-menu-row">
                            <div class="page-header__mobile-menu-left-col">
                                <ul class="page-header__mobile-menu-nav">
                                    <li class="page-header__mobile-menu-nav-item">
                                        <a href="#" class="page-header__mobile-menu-nav-link">
                                            Практики
                                        </a>
                                        <div class="page-header__mobile-menu-nav-item-bar">

                                        </div>
                                    </li>
                                    <li class="page-header__mobile-menu-nav-item">
                                        <a href="#" class="page-header__mobile-menu-nav-link">
                                            Социальная активность
                                        </a>
                                        <div class="page-header__mobile-menu-nav-item-bar">

                                        </div>
                                    </li>
                                    <li class="page-header__mobile-menu-nav-item">
                                        <a href="#" class="page-header__mobile-menu-nav-link">
                                            Пресс-центр
                                        </a>
                                        <div class="page-header__mobile-menu-nav-item-bar">

                                        </div>
                                    </li>
                                    <li class="page-header__mobile-menu-nav-item">
                                        <a href="#" class="page-header__mobile-menu-nav-link">
                                            О компании
                                        </a>
                                        <div class="page-header__mobile-menu-nav-item-bar">

                                        </div>
                                    </li>
                                    <li class="page-header__mobile-menu-nav-item">
                                        <a href="#" class="page-header__mobile-menu-nav-link">
                                            Отрасли
                                        </a>
                                        <div class="page-header__mobile-menu-nav-item-bar">

                                        </div>
                                    </li>
                                    <li class="page-header__mobile-menu-nav-item">
                                        <a href="#" class="page-header__mobile-menu-nav-link">
                                            Контакты
                                        </a>
                                        <div class="page-header__mobile-menu-nav-item-bar">

                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="page-header__mobile-menu-right-col">
                                <a href="tel:+78432230357" class="page-header__mobile-menu-phone">
                                    8 843 223 03 57
                                </a>
                                <a href="mailto:info@ypartners.ru"
                                    class="page-header__mobile-menu-email">info@ypartners.ru</a>
                                <div class="page-header__mobile-menu-address">
                                    Республика Татарстан, Казань,<br> ул Чернышевского, 33, 2 этаж
                                </div>
                                <div class="page-header__mobile-menu-social">
                                    <a href="#" class="page-header__mobile-menu-social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-facebook">
                                            <use xlink:href="#facebook"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="page-header__mobile-menu-social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-twitter">
                                            <use xlink:href="#twitter"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="page-header__mobile-menu-social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                            <use xlink:href="#instagram"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="page-header__mobile-menu-social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-vk">
                                            <use xlink:href="#vk"></use>
                                        </svg>
                                    </a>
                                </div>
                                <a href="#" class="page-header__mobile-menu-contact-btn">
                                    Напишите нам
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            {{#if headerLanguage}}
            <div class="page-header__languages">
                <a href="#" class="page-header__languages-link active">
                    RU
                </a>
                <a href="#" class="page-header__languages-link">
                    ENG
                </a>
                <a href="#" class="page-header__languages-link">
                    TAT
                </a>
            </div>
            {{else}}
            <div class="page-header__logo-block js-sticky-logo">
                <a href="#" class="page-header__logo">
                    <img src="img/logo.svg" alt="" class="page-header__logo-image">
                    <img src="img/white-logo.svg" alt="" class="page-header__logo-image-white">
                </a>
            </div>
            {{/if}}
            <a href="#" class="page-header__mobile-logo">
                <img src="img/logo.svg" alt="" class="page-header__mobile-logo-image" width="100">
                <img src="img/white-logo.svg" alt="" class="page-header__mobile-logo-image-white">
            </a>
            <nav class="page-header__nav">
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            <span class="page-header__nav-link-text" data-text="Отрасли">
                                <span class="page-header__nav-link-text-inner">
                                    Отрасли
                                </span>

                            </span>
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            <span class="page-header__nav-link-text" data-text="Практики">
                                <span class="page-header__nav-link-text-inner">
                                    Практики
                                </span>

                            </span>
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            <span class="page-header__nav-link-text" data-text="Социальная активность">
                                <span class="page-header__nav-link-text-inner">
                                    Социальная активность
                                </span>

                            </span>
                        </a>
                    </li>
                </ul>
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-list-item">
                        <div class="page-header__dropdown-link">
                            <div class="page-header__dropdown-link-btn">
                                Компания

                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-up">
                                    <use xlink:href="#arrow-up"></use>
                                </svg>
                            </div>
                            <div class="page-header__dropdown">
                                <div class="page-header__dropdown-inner">
                                    <a href="#" class="page-header__dropdown-inner-link">
                                        О нас
                                    </a>
                                    <a href="#" class="page-header__dropdown-inner-link">
                                        Команда
                                    </a>
                                    <a href="#" class="page-header__dropdown-inner-link">
                                        Награды и рейтинги
                                    </a>
                                    <a href="#" class="page-header__dropdown-inner-link">
                                        Карьера
                                    </a>
                                </div>
                            </div>
                        </div>

                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            <span class="page-header__nav-link-text" data-text="Пресс-центр">
                                <span class="page-header__nav-link-text-inner">
                                    Пресс-центр
                                </span>

                            </span>
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            <span class="page-header__nav-link-text" data-text=" Контакты">
                                <span class="page-header__nav-link-text-inner">
                                    Контакты
                                </span>

                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
            <button class="page-header__burger js-menu-burger">

            </button>
        </div>
    </div>
</header>