<div class="home-video">
    {{#if bgvideo }}
    <img src="img/bg-image.jpg" alt="" class="home-video__background-image">
    <video class="lazyload" muted="" data-autoplay="" loop playsinline preload="none">
        <source src="assets/videos/home-video.mp4" type="video/mp4" />
    </video>
    {{/if}}
    <div class="home-video__green-backplate {{#if darkfooter}} home-video__green-backplate--grey {{/if}}">

    </div>
</div>