{{#extend "layout"}}
{{#content "main"}}
<!-- <div class="page-header__languages">
    <a href="#" class="page-header__languages-link active">
        RU
    </a>
    <a href="#" class="page-header__languages-link">
        ENG
    </a>
    <a href="#" class="page-header__languages-link">
        TAT
    </a>
</div> -->
<section class="about">
    <div class="container">
        <div class="about__content">
            <div class="about__intro">
                <div class="about__row">
                    <div class="about__left-col">
                        <h2 class="about__small-heading">
                            О компании
                        </h2>
                    </div>
                    <div class="about__right-col">
                        <div class="about__intro-large-text">
                            <p>
                                Yalilov & Partners — это российская юридическая фирма, которая оказывает
                                консультационные услуги в области права во всех ключевых отраслях бизнеса
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about__experience">
                <div class="about__row">
                    <div class="about__left-col">
                        <div class="about__experience-info">
                            <div class="about__experience-amount">
                                Более 10 лет опыта
                            </div>
                            <div class="about__experience-text">
                                Наша команда работает на юридическом рынке и&nbsp;мы&nbsp;являемся правопреемниками
                                юридической
                                фирмы «Шаймарданов, Ялилови Сабитов»
                            </div>
                        </div>
                    </div>
                    <div class="about__right-col">
                        <div class="about__images">


                            <img src="img/about/1.jpg" alt="" class="about__image">
                            <img src="img/about/2.jpg" alt="" class="about__image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="about__clients js-clients-slider">
                <div class="about__clients-top-row">
                    <div class="about__clients-top-left-col">
                        <div class="about__clients-large-text">
                            <p>
                                Ведущие игроки в разных сферах бизнеса обращаются к&nbsp;нам за&nbsp;поддержкой для
                                выполнения
                                самых важных и сложных задач
                            </p>
                        </div>
                    </div>
                    <div class="about__clients-top-right-col">
                        <div class="about__clients-small-text">
                            <p>
                                Для успешного развития бизнеса наших клиентовмы применяем конструктивные и инновационные
                                правовые решения, обеспечиваем неизменно высокое качество услуг во всех наших проектахи
                                предлагаем экономически обоснованныеи юридически выверенные решения
                            </p>
                        </div>
                    </div>
                </div>
                <div class="about__clients-slider-block">


                    <div class="about__row">
                        <div class="about__left-col">
                            <div class="about__slider-controls">
                                <button class="about__slider-controls-btn js-slider-arrow-prev">
                                    пред
                                </button>
                                <span class="about__slider-controls-divider">

                                </span>
                                <button class="about__slider-controls-btn js-slider-arrow-next">
                                    след
                                </button>
                            </div>

                        </div>
                        <div class="about__right-col">
                            <div class="about__clients-slider">
                                <div class="about__clients-slider-quotes">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="about__clients-slider-quote">
                                                    <div class="about__clients-slider-quote-text">
                                                        <p>
                                                            Благодарим Yalilov & Partners за успешное сотрудничество. За
                                                            оперативность в
                                                            работе и за не стандартный подход к делу. Важно, что
                                                            внимание
                                                            юриста к
                                                            деталям и умение вникать в суть вопроса является решающим в
                                                            разрешении дела
                                                            не только в суде, но еще и на досудебном уровне.
                                                        </p>
                                                    </div>
                                                    <a href="#" class="about__clients-slider-read-more">
                                                        <div class="about__clients-slider-read-more-text"
                                                            data-text="смотреть полностью">
                                                            <div class="about__clients-slider-read-more-text-inner">
                                                                смотреть полностью
                                                            </div>
                                                        </div>


                                                        <svg width="14" height="14" aria-hidden="true"
                                                            class="icon-arrow-right">
                                                            <use xlink:href="#arrow-right"></use>
                                                        </svg>
                                                    </a>
                                                    <div class="about__clients-slider-author">
                                                        <div class="about__clients-slider-author-name">
                                                            Александра Ромашка
                                                        </div>
                                                        <div class="about__clients-slider-author-role">
                                                            Менеджер студии Mark Weber
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="about__clients-slider-quote">
                                                    <div class="about__clients-slider-quote-text">
                                                        <p>
                                                            Благодарим Yalilov & Partners за успешное сотрудничество. За
                                                            оперативность в
                                                            работе и за не стандартный подход к делу.
                                                        </p>
                                                    </div>
                                                    <a href="#" class="about__clients-slider-read-more">
                                                        <div class="about__clients-slider-read-more-text"
                                                            data-text="смотреть полностью">
                                                            <div class="about__clients-slider-read-more-text-inner">
                                                                смотреть полностью
                                                            </div>
                                                        </div>


                                                        <svg width="14" height="14" aria-hidden="true"
                                                            class="icon-arrow-right">
                                                            <use xlink:href="#arrow-right"></use>
                                                        </svg>
                                                    </a>
                                                    <div class="about__clients-slider-author">
                                                        <div class="about__clients-slider-author-name">
                                                            Александра Ромашка
                                                        </div>
                                                        <div class="about__clients-slider-author-role">
                                                            Менеджер студии Mark Weber
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="about__clients-slider-quote">
                                                    <div class="about__clients-slider-quote-text">
                                                        <p>
                                                            Благодарим Yalilov & Partners за успешное сотрудничество. За
                                                            оперативность в
                                                            работе и за нестандартный подход к делу. Важно, что
                                                            внимание
                                                            юриста к
                                                            деталям и умение вникать в суть вопроса является решающим в
                                                            разрешении дела
                                                            не только в суде, но еще и на досудебном уровне.
                                                        </p>
                                                    </div>
                                                    <a href="#" class="about__clients-slider-read-more">
                                                        <div class="about__clients-slider-read-more-text"
                                                            data-text="смотреть полностью">
                                                            <div class="about__clients-slider-read-more-text-inner">
                                                                смотреть полностью
                                                            </div>
                                                        </div>


                                                        <svg width="14" height="14" aria-hidden="true"
                                                            class="icon-arrow-right">
                                                            <use xlink:href="#arrow-right"></use>
                                                        </svg>
                                                    </a>
                                                    <div class="about__clients-slider-author">
                                                        <div class="about__clients-slider-author-name">
                                                            Александра Ромашка
                                                        </div>
                                                        <div class="about__clients-slider-author-role">
                                                            Менеджер студии Mark Weber
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="about__clients-slider-quote">
                                                    <div class="about__clients-slider-quote-text">
                                                        <p>
                                                            Благодарим Yalilov & Partners за успешное сотрудничество. За
                                                            оперативность в
                                                            работе и за нестандартный подход к делу.
                                                        </p>
                                                    </div>
                                                    <a href="#" class="about__clients-slider-read-more">
                                                        <div class="about__clients-slider-read-more-text"
                                                            data-text="смотреть полностью">
                                                            <div class="about__clients-slider-read-more-text-inner">
                                                                смотреть полностью
                                                            </div>
                                                        </div>


                                                        <svg width="14" height="14" aria-hidden="true"
                                                            class="icon-arrow-right">
                                                            <use xlink:href="#arrow-right"></use>
                                                        </svg>
                                                    </a>
                                                    <div class="about__clients-slider-author">
                                                        <div class="about__clients-slider-author-name">
                                                            Александра Ромашка
                                                        </div>
                                                        <div class="about__clients-slider-author-role">
                                                            Менеджер студии Mark Weber
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="about__clients-slider-quote">
                                                    <div class="about__clients-slider-quote-text">
                                                        <p>
                                                            Благодарим Yalilov & Partners за успешное сотрудничество. За
                                                            оперативность в
                                                            работе и за нестандартный подход к делу. Важно, что
                                                            внимание
                                                            юриста к
                                                            деталям и умение вникать в суть вопроса является решающим в
                                                            разрешении дела
                                                            не только в суде, но еще и на досудебном уровне.
                                                        </p>
                                                    </div>
                                                    <a href="#" class="about__clients-slider-read-more">
                                                        <div class="about__clients-slider-read-more-text"
                                                            data-text="смотреть полностью">
                                                            <div class="about__clients-slider-read-more-text-inner">
                                                                смотреть полностью
                                                            </div>
                                                        </div>


                                                        <svg width="14" height="14" aria-hidden="true"
                                                            class="icon-arrow-right">
                                                            <use xlink:href="#arrow-right"></use>
                                                        </svg>
                                                    </a>
                                                    <div class="about__clients-slider-author">
                                                        <div class="about__clients-slider-author-name">
                                                            Александра Ромашка
                                                        </div>
                                                        <div class="about__clients-slider-author-role">
                                                            Менеджер студии Mark Weber
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="about__clients-slider-quote">
                                                    <div class="about__clients-slider-quote-text">
                                                        <p>
                                                            Благодарим Yalilov & Partners за успешное сотрудничество. За
                                                            оперативность в
                                                            работе и за нестандартный подход к делу.
                                                        </p>
                                                    </div>
                                                    <a href="#" class="about__clients-slider-read-more">
                                                        <div class="about__clients-slider-read-more-text"
                                                            data-text="смотреть полностью">
                                                            <div class="about__clients-slider-read-more-text-inner">
                                                                смотреть полностью
                                                            </div>
                                                        </div>


                                                        <svg width="14" height="14" aria-hidden="true"
                                                            class="icon-arrow-right">
                                                            <use xlink:href="#arrow-right"></use>
                                                        </svg>
                                                    </a>
                                                    <div class="about__clients-slider-author">
                                                        <div class="about__clients-slider-author-name">
                                                            Александра Ромашка
                                                        </div>
                                                        <div class="about__clients-slider-author-role">
                                                            Менеджер студии Mark Weber
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                </div>
                                <div class="about__clients-slider-photos js-slider-cards">
                                    <div class="about__clients-slider-photos-card js-slider-card">
                                        <img src="img/alex.jpg" alt="" class="about__clients-slider-photos-card-image">
                                    </div>
                                    <div class="about__clients-slider-photos-card js-slider-card">
                                        <img src="img/girl.jpg" alt="" class="about__clients-slider-photos-card-image">
                                    </div>
                                    <div class="about__clients-slider-photos-card js-slider-card">
                                        <img src="img/alex.jpg" alt="" class="about__clients-slider-photos-card-image">
                                    </div>
                                    <div class="about__clients-slider-photos-card js-slider-card">
                                        <img src="img/girl.jpg" alt="" class="about__clients-slider-photos-card-image">
                                    </div>
                                    <div class="about__clients-slider-photos-card js-slider-card">
                                        <img src="img/alex.jpg" alt="" class="about__clients-slider-photos-card-image">
                                    </div>
                                    <div class="about__clients-slider-photos-card js-slider-card">
                                        <img src="img/girl.jpg" alt="" class="about__clients-slider-photos-card-image">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about__principles">
                <div class="about__row">
                    <div class="about__left-col">
                        <h2 class="about__principles-heading">
                            Принципы
                        </h2>
                    </div>
                    <div class="about__right-col">
                        <div class="about__principles-text">
                            <p>
                                Ключом к успешной реализации проекта являются быстрое принятие и исполнение решений. Для
                                нас время — это актив, а его потери не допускаются. Наши правовые позиции — это не
                                только компетенции, современный опыт и свежий взгляд, но и знание экономики, деловой
                                сферы, понимание особенностей конкретного бизнеса
                            </p>
                        </div>
                        <ul class="about__principles-items">
                            <li class="about__principles-item">
                                <div class="about__principles-card">
                                    Мы видим полную картину, избегаем cтандартных ходов и&nbsp;не&nbsp;оставляем
                                    сомнений там, где
                                    нужно побеждать
                                </div>
                            </li>
                            <li class="about__principles-item">
                                <div class="about__principles-card">
                                    Сформированная нами судебная практика задает тренды индустрии
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="about__functions">
                <div class="about__row">
                    <div class="about__left-col">

                    </div>
                    <div class="about__right-col">
                        <div class="about__functions-large-text">
                            <p>
                                Выполнение функций надежного советника для наших клиентов, сохранение гибкостии
                                адаптируемости — наша отличительная черта
                            </p>
                        </div>
                    </div>
                </div>
                <div class="about__row about__functions-bottom-row">
                    <div class="about__left-col">
                        <div class="about__functions-side-image-container">


                            <img src="img/about/functions-2.jpg" alt="" class="about__functions-side-image">
                        </div>
                    </div>
                    <div class="about__right-col">
                        <div class="about__functions-image-text">
                            <div class="about__functions-image-container">
                                <img src="img/about/functions-1.jpg" alt="" class="about__functions-image">
                            </div>
                            <div class="about__functions-text">
                                <p>
                                    Наша команда обладает разнообразным опытом, обеспечивающим объективную оценку
                                    рискови эффективную защиту интересов клиентов,и мы готовы сделать все возможное в
                                    каждой конкретной ситуации
                                </p>
                                <p>
                                    Высокий уровень знаний в совокупности с сильным корпоративным духом и чувством
                                    ответственности дает нам право именовать себя профессионалами
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}