{{#extend "layout"}}
{{#content "main"}}

<section class="awards">
    <div class="container">
        <div class="awards__content">
            <div class="awards__intro">
                <div class="awards__row">
                    <div class="awards__left-col">
                        <h2 class="awards__heading">
                            Награды<br>и рейтинги
                        </h2>
                    </div>
                    <div class="awards__right-col">
                        <div class="awards__intro-large-text">
                            <p>
                                Свою репутацию и позиции Yalilov & Partners подтверждает успешным ведением дел
                                и заслуженными наградамии премиями
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="awards__results">
                <div class="awards__year">
                    2019
                </div>
                <ul class="awards__list">
                    <li class="awards__list-item">
                        <div class="awards__card">
                            <div class="awards__card-image-container">
                                <img src="img/award.png" alt="" class="awards__card-image">
                                <div class="awards__rating-magazine" style="background-color: #000;">
                                    <img src="img/awards/1.jpg" alt="" class="awards__rating-magazine-image">
                                </div>
                            </div>
                            <div class="awards__card-content">
                                <h4 class="awards__card-title">
                                    Рейтинг лучших юридических компаний России «Право.ru-300»
                                </h4>
                                <a href="#" class="awards__card-link">
                                    <div class="awards__card-link-text"
                                        data-text="Рейтинг юр.компаний России. Право 300">
                                        <div class="awards__card-link-text-inner">
                                            Рейтинг юр.компаний России. Право 300
                                        </div>
                                    </div>

                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="awards__year">
                    2018
                </div>

                <ul class="awards__list">
                    <li class="awards__list-item">
                        <div class="awards__card">
                            <div class="awards__card-image-container">
                                <img src="img/award.png" alt="" class="awards__card-image">
                                <div class="awards__rating-magazine" style="background-color: #E8F8FF;">
                                    <img src="img/awards/2.png" alt="" class="awards__rating-magazine-image">
                                </div>
                            </div>
                            <div class="awards__card-content">
                                <h4 class="awards__card-title">
                                    Рейтинг фирм-лидеров по разрешению споров в регионахот «Право.ru»
                                </h4>

                            </div>
                        </div>
                    </li>


                    <li class="awards__list-item">
                        <div class="awards__card">
                            <div class="awards__card-image-container">
                                <img src="img/award.png" alt="" class="awards__card-image">
                                <div class="awards__rating-magazine" style="background-color: #000;">
                                    <img src="img/awards/1.jpg" alt="" class="awards__rating-magazine-image">
                                </div>
                            </div>
                            <div class="awards__card-content">
                                <h4 class="awards__card-title">
                                    Рейтинг лучших юридических компаний России «Право.ru-300»
                                </h4>

                            </div>
                        </div>
                    </li>
                </ul>

                <div class="awards__year">
                    2017
                </div>


                <ul class="awards__list">
                    <li class="awards__list-item">
                        <div class="awards__card">
                            <div class="awards__card-image-container">
                                <img src="img/award.png" alt="" class="awards__card-image">
                                <div class="awards__rating-magazine" style="background-color: #000;">
                                    <img src="img/awards/1.jpg" alt="" class="awards__rating-magazine-image">
                                </div>
                            </div>
                            <div class="awards__card-content">
                                <h4 class="awards__card-title">
                                    Рейтинг лучших юридических компаний России «Право.ru-300»
                                </h4>

                            </div>
                        </div>
                    </li>
                </ul>

                <div class="awards__year">
                    2016
                </div>
                <ul class="awards__list">
                    <li class="awards__list-item">
                        <div class="awards__card">
                            <div class="awards__card-image-container">
                                <img src="img/award.png" alt="" class="awards__card-image">
                                <div class="awards__rating-magazine" style="background-color: #000;">
                                    <img src="img/awards/1.jpg" alt="" class="awards__rating-magazine-image">
                                </div>
                            </div>
                            <div class="awards__card-content">
                                <h4 class="awards__card-title">
                                    Рейтинг лучших юридических компаний России «Право.ru-300»
                                </h4>

                            </div>
                        </div>
                    </li>
                </ul>
                <div class="awards__year">
                    2016
                </div>
                <ul class="awards__list">
                    <li class="awards__list-item">
                        <div class="awards__card">
                            <div class="awards__card-image-container">
                                <img src="img/award.png" alt="" class="awards__card-image">
                                <div class="awards__rating-magazine" style="background-color: #FFE4E6;">
                                    <img src="img/awards/3.jpg" alt="" class="awards__rating-magazine-image">
                                </div>
                            </div>
                            <div class="awards__card-content">
                                <h4 class="awards__card-title">
                                    «Топ-11» лидеров рынка правовых услуг
                                </h4>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}