{{#extend "layout"}}
{{#content "main"}}

<section class="career">
    <div class="container">
        <div class="career__content">
            <div class="career__intro">
                <div class="career__row">
                    <div class="career__left-col">
                        <h2 class="career__small-heading">
                            Карьера
                        </h2>
                    </div>
                    <div class="career__right-col">
                        <div class="career__intro-text">
                            Мы гордимся тем, что предлагаем юристам и профессиональному персоналу множество возможностей
                            применить свои таланты в важных, сложных проектах.
                        </div>
                    </div>
                </div>
            </div>
            <div class="career__invite">
                <div class="career__row">
                    <div class="career__left-col">

                    </div>
                    <div class="career__right-col">
                        <div class="career__invite-text">
                            <p>
                                «Yalilov & Partners» приглашает в свои ряды целеустремленных и опытных специалистов,
                                имеющих целью постоянный профессиональный прогресси высокие показатели в своей
                                деятельности.
                            </p>
                        </div>
                        <img src="img/career-main.jpg" alt="" class="career__main-image">
                    </div>
                </div>
                <div class="career__row">
                    <div class="career__left-col">
                        <div class="career__side-image-wrapper">
                            <div class="career__side-image-wrapper-block">
                                <img src="img/career-side-image.jpg" alt="" class="career__side-image">
                            </div>

                        </div>
                    </div>
                    <div class="career__right-col">

                    </div>
                </div>
            </div>
            <div class="career__culture">
                <div class="career__culture-left-col">
                    <div class="career__culture-large-text">
                        <p>
                            Наша культура коллегиальности привлекает людей с различными навыками и опытом
                        </p>
                    </div>
                </div>
                <div class="career__culture-right-col">
                    <div class="career__culture-small-text">
                        <p>
                            Особенно тех, которые привержены командной работе, сотрудничеству и превосходному
                            обслуживанию клиентов.
                        </p>
                    </div>
                </div>
            </div>
            <div class="career__vacancies">
                <h2 class="career__vacancies-heading">
                    Вакантная должность
                </h2>
                <ul class="career__vacancies-list">
                    <li class="career__vacancies-list-item">
                        <div class="career__vacancies-accordion js-vacancy-accordion">
                            <div class="career__vacancies-accordion-btn">
                                <div class="career__row">
                                    <div class="career__left-col">

                                    </div>
                                    <div class="career__right-col">
                                        <div class="career__vancancy-clickable-area">


                                            <h4 class="career__vancancy-title">
                                                Юрист
                                            </h4>
                                            <div class="career__vancancy-btn-content">
                                                <div class="career__vancancy-btn-left-col">
                                                    <div class="career__vancancy-description">
                                                        <p>
                                                            Подготовка договоров, соглашений, актов. Взаимодействие с
                                                            государственными органами. Проведение юридического анализа
                                                            документов в рамках задач юридического подразделения.
                                                            Консультации по сделкам
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="career__vancancy-btn-right-col">
                                                    <div class="career__vancancy-salary">
                                                        30 000 - 70 000 ₽
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="career__vancancy-btn-state-wrapper">
                                                <div class="career__vancancy-btn-state-link">
                                                    Подробнее
                                                    <svg width="14" height="14" aria-hidden="true"
                                                        class="icon-arrow-up">
                                                        <use xlink:href="#arrow-up"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="career__vacancies-accordion-content">
                                <div class="career__vacancies-accordion-content-inner">
                                    <div class="career__row">
                                        <div class="career__left-col">

                                        </div>
                                        <div class="career__right-col">
                                            <div class="career__vacancy-requirements">
                                                <div class="career__vacancy-requirement">
                                                    <div class="career__vacancy-requirement-key">
                                                        Зарплата
                                                    </div>
                                                    <div class="career__vacancy-requirement-value">
                                                        30 000 - 70 000 руб
                                                    </div>
                                                </div>
                                                <div class="career__vacancy-requirement">
                                                    <div class="career__vacancy-requirement-key">
                                                        Опыт работы
                                                    </div>
                                                    <div class="career__vacancy-requirement-value">
                                                        1–3 года
                                                    </div>
                                                </div>
                                                <div class="career__vacancy-requirement">
                                                    <div class="career__vacancy-requirement-key">
                                                        Занятость
                                                    </div>
                                                    <div class="career__vacancy-requirement-value">
                                                        Полный день
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="career__vacancies-details-list">
                                        <li class="career__vacancies-details-list-item">
                                            <div class="career__row">
                                                <div class="career__left-col">
                                                    <h4 class="career__vacancies-details-title">
                                                        Обязанности
                                                    </h4>
                                                </div>
                                                <div class="career__right-col">
                                                    <ul class="career__vacancies-details-activities-list">
                                                        <li class="career__vacancies-details-activities-list-item">
                                                            Полное юридическое сопровождение деятельности группы
                                                            компаний
                                                        </li>
                                                        <li class="career__vacancies-details-activities-list-item">
                                                            Договорная работа (согласование, протоколы разногласий,
                                                            внесение изменений, составление новых форм договоров,
                                                            разработка проектов новых договоров)
                                                        </li>
                                                        <li class="career__vacancies-details-activities-list-item">
                                                            Претензионно-исковая работа (составление претензий в адрес
                                                            контрагентов;ответы на претензии потребителей; представление
                                                            интересов в суде)
                                                        </li>
                                                        <li class="career__vacancies-details-activities-list-item">
                                                            Составление и экспертиза внутренних документов (положения,
                                                            приказы, доверенности)
                                                        </li>
                                                        <li class="career__vacancies-details-activities-list-item">
                                                            Корпоративная работа (разработка и сопровождение
                                                            учредительных документов, регистрация, ликвидация ООО, ИП,
                                                            внесение изменений в сведения в ЕГРЮЛ, ЕГРИП)
                                                        </li>
                                                        <li class="career__vacancies-details-activities-list-item">
                                                            Представление интересов в госорганах
                                                        </li>
                                                        <li class="career__vacancies-details-activities-list-item">
                                                            Умение составлять претензии, исковые заявления,
                                                            апелляционные и кассационные жалобы
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="career__vacancies-details-list-item">
                                            <div class="career__row">
                                                <div class="career__left-col">
                                                    <h4 class="career__vacancies-details-title">
                                                        Требования
                                                    </h4>
                                                </div>
                                                <div class="career__right-col">
                                                    <ul class="career__vacancies-details-activities-list">
                                                        <li class="career__vacancies-details-activities-list-item">
                                                            Знание гражданского процессуального права

                                                        </li>
                                                        <li class="career__vacancies-details-activities-list-item">
                                                            Земельное право

                                                        </li>
                                                        <li class="career__vacancies-details-activities-list-item">
                                                            Законодательство о градостроительной деятельности

                                                        </li>
                                                        <li class="career__vacancies-details-activities-list-item">
                                                            Уверенный пользователь ПК и государственных информационных
                                                            систем
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="career__vacancies-details-list-item">
                                            <div class="career__row">
                                                <div class="career__left-col">
                                                    <h4 class="career__vacancies-details-title">
                                                        Условия
                                                    </h4>
                                                </div>
                                                <div class="career__right-col">
                                                    <ul class="career__vacancies-details-activities-list">
                                                        <li class="career__vacancies-details-activities-list-item">
                                                            Работа удаленно
                                                        </li>
                                                        <li class="career__vacancies-details-activities-list-item">
                                                            Перспективы финансового и карьерного роста
                                                        </li>
                                                        <li class="career__vacancies-details-activities-list-item">
                                                            Оклад + % от сделки
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>



                                </div>
                            </div>
                        </div>

                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>

{{> resume-form }}
{{/content}}
{{/extend}}