{{#extend "layout"}}
{{#content "main"}}


<section class="industry">
    <div class="container">
        <div class="industry__content">
            <div class="industry__intro">
                <div class="industry__wrapper">


                    <div class="industry__intro-bg">
                        <img src="img/industry.jpg" alt="" class="industry__intro-bg-image">
                    </div>
                    <h1 class="industry__name" data-text="Девелопмент">
                        Девелопмент
                    </h1>
                </div>
                <div class="industry__description">
                    <div class="industry__description-text" data-text=" Макроэкономический аспект определяется высоким мультиплицирующим эффектом деловой активности
                        в сфере
                        недвижимости">
                        Макроэкономический аспект определяется высоким мультиплицирующим эффектом деловой активности
                        в сфере недвижимости
                    </div>

                </div>
            </div>
            <div class="industry__large-text-block">
                <p>
                    Инвестиции в недвижимость ведут к росту активности в целом ряде смежных отраслей экономики: в
                    производстве строительных материалов, жилищно-коммунальном хозяйстве, производстве потребительских
                    товаров длительного пользования, в конечном счете, обеспечивая прирост валового продукта и занятость
                    в стране
                </p>
            </div>
            <div class="industry__text-block">
                <h3>
                    Появление отрасли
                </h3>
                <p>
                    Проблема совершенствования развития строительных организаций заставила расширить научные и
                    прикладные исследования в области разработки и внедрения новых форм, методов и систем управления с
                    целью повышения конкурентоспособности и эффективности их функционирования. Одной из таких отраслей
                    является «девелопмент»
                </p>
            </div>
            <div class="industry__text-block">
                <h3>
                    Девелопмент в России — это относительно новый вид бизнеса
                </h3>
                <p>
                    Он выделился в условиях становления рыночной экономики из смежных направлений предпринимательской
                    деятельности в сферах недвижимости, инвестиций и строительства.

                </p>
                <p>
                    Многогранность отрасли предполагает широкий круг знанийв различных областях юриспруденции, бизнеса и
                    инженерных наук.
                </p>
            </div>
            <blockquote class="industry__quote-block">
                <p>
                    Право здесь играет ключевую роль. Оно обслуживает бизнес
                </p>
            </blockquote>


            <div class="industry__text-block">
                <h3>
                    Одних знаний недостаточно
                </h3>
                <p>
                    Для нас быть хорошим юристом, обладая только хорошими знаниями, — мало. Бизнес — живой организм, как
                    минимум каждые пять лет происходят изменения на рынке. Поэтому мышление нашей команды юристов
                    достаточно гибкое, и именно эта гибкость позволяет нам говорить о высокой эффективности.
                </p>
                <p>
                    Накопленный годами опыт позволяет нам сопровождать сложные сделки от старта до закрытия, а также
                    консультировать клиентов по отдельным этапам проектов.
                </p>
            </div>

            <div class="industry__key-projects">
                <h3 class="industry__key-projects-heading">
                    Ключевые проекты
                </h3>
                <ul class="industry__key-projects-list">
                    <li class="industry__key-projects-list-item">
                        <div class="industry__key-projects-card">
                            <h4 class="industry__key-projects-card-title">
                                Защищаем права собственников коммерческой недвижимости от неправомерных действий органов
                                власти
                            </h4>
                            <div class="industry__key-projects-info">
                                <div class="industry__key-projects-info-row">
                                    <div class="industry__key-projects-info-col">
                                        <div class="industry__key-projects-info-key">
                                            Клиент
                                        </div>
                                        <div class="industry__key-projects-info-value">
                                            крупнейший производитель пива в России
                                        </div>
                                    </div>
                                    <div class="industry__key-projects-info-col">
                                        <div class="industry__key-projects-info-key">
                                            Оппонент
                                        </div>
                                        <div class="industry__key-projects-info-value">
                                            Росреестр
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="industry__key-projects-list-item">
                        <div class="industry__key-projects-card">
                            <h4 class="industry__key-projects-card-title">
                                Сопровождение сделки купли-продажи комплекса коммерческой недвижимости
                            </h4>
                            <div class="industry__key-projects-info">
                                <div class="industry__key-projects-info-row">
                                    <div class="industry__key-projects-info-col">
                                        <div class="industry__key-projects-info-key">
                                            Клиент
                                        </div>
                                        <div class="industry__key-projects-info-value">
                                            Собственник недвижимого имущества
                                        </div>
                                    </div>
                                    <div class="industry__key-projects-info-col">
                                        <div class="industry__key-projects-info-key">
                                            Оппонент
                                        </div>
                                        <div class="industry__key-projects-info-value">
                                            Федеральная служба государственной регистрации, кадастра и картографии
                                            (Росреестр), Департамент городского имущества, Государственная инспекцияпо
                                            надзору за недвижимостью г. Москвы
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="industry__key-projects-list-item">
                        <div class="industry__key-projects-card">
                            <h4 class="industry__key-projects-card-title">
                                Обосновываем стоимость недвижимого имущества, являющегося предметом залога в банке
                            </h4>
                            <div class="industry__key-projects-info">
                                <div class="industry__key-projects-info-row">
                                    <div class="industry__key-projects-info-col">
                                        <div class="industry__key-projects-info-key">
                                            Клиент
                                        </div>
                                        <div class="industry__key-projects-info-value">
                                            Собственник коммерческой недвижимости
                                        </div>
                                    </div>
                                    <div class="industry__key-projects-info-col">
                                        <div class="industry__key-projects-info-key">
                                            Оппонент
                                        </div>
                                        <div class="industry__key-projects-info-value">
                                            Банк из списка ТОП-10
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="industry__key-projects-list-item">
                        <div class="industry__key-projects-card">
                            <h4 class="industry__key-projects-card-title">
                                Сопровождение сделки купли-продажи комплекса коммерческой недвижимости
                            </h4>
                            <div class="industry__key-projects-info">
                                <div class="industry__key-projects-info-row">
                                    <div class="industry__key-projects-info-col">
                                        <div class="industry__key-projects-info-key">
                                            Клиент
                                        </div>
                                        <div class="industry__key-projects-info-value">
                                            Собственник недвижимого имущества
                                        </div>
                                    </div>
                                    <div class="industry__key-projects-info-col">
                                        <div class="industry__key-projects-info-key">
                                            Оппонент
                                        </div>
                                        <div class="industry__key-projects-info-value">
                                            Федеральная служба государственной регистрации, кадастра и картографии
                                            (Росреестр), Департамент городского имущества, Государственная инспекцияпо
                                            надзору за недвижимостью г. Москвы
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="industry__key-projects-list-item">
                        <div class="industry__key-projects-card">
                            <h4 class="industry__key-projects-card-title">
                                Обосновываем стоимость недвижимого имущества, являющегося предметом залога в банке
                            </h4>
                            <div class="industry__key-projects-info">
                                <div class="industry__key-projects-info-row">
                                    <div class="industry__key-projects-info-col">
                                        <div class="industry__key-projects-info-key">
                                            Клиент
                                        </div>
                                        <div class="industry__key-projects-info-value">
                                            Собственник недвижимого имущества
                                        </div>
                                    </div>
                                    <div class="industry__key-projects-info-col">
                                        <div class="industry__key-projects-info-key">
                                            Оппонент
                                        </div>
                                        <div class="industry__key-projects-info-value">
                                            Банк из списка ТОП-10
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="specialists js-team-slider">
    <div class="container">
        <h2 class="specialists__heading">
            Специалисты
        </h2>
        <div class="specialists__row">
            <div class="specialists__left-col">
                <div class="specialists__slider-controls">
                    <button class="specialists__slider-controls-btn js-slider-arrow-prev">
                        пред
                    </button>
                    <span class="specialists__slider-controls-divider">

                    </span>
                    <button class="specialists__slider-controls-btn js-slider-arrow-next">
                        след
                    </button>
                </div>
            </div>
            <div class="specialists__right-col">
                <div class="team__slider">
                    <div class="team__cards js-slider-cards">
                        <a href="#" class="team__card team__card--large js-slider-card">
                            <div class="team__card-image-container">
                                <img src="img/team/1.png" alt="" class="team__card-image">
                            </div>
                            <h4 class="team__card-name">
                                Айнур Ялилов
                            </h4>
                            <div class="team__card-role">
                                Управляющий партнер
                            </div>
                        </a>
                        <a href="#" class="team__card team__card--large js-slider-card">
                            <div class="team__card-image-container">
                                <img src="img/team/2.png" alt="" class="team__card-image">
                            </div>
                            <h4 class="team__card-name">
                                Алия Алтынбаева
                            </h4>
                            <div class="team__card-role">
                                Партнер
                            </div>
                        </a>
                        <a href="#" class="team__card team__card--large js-slider-card">
                            <div class="team__card-image-container">
                                <img src="img/team/3.png" alt="" class="team__card-image">
                            </div>
                            <h4 class="team__card-name">
                                Сабина Мухамеджанова
                            </h4>
                            <div class="team__card-role">
                                Старший юрист
                            </div>
                        </a>
                        <a href="#" class="team__card team__card--large js-slider-card">
                            <div class="team__card-image-container">
                                <img src="img/team/1.png" alt="" class="team__card-image">
                            </div>
                            <h4 class="team__card-name">
                                Рустам Губайдуллин
                            </h4>
                            <div class="team__card-role">
                                Адвокат
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}