{{#extend "layout"}}
{{#content "main"}}

<section class="practic">



    <div class="container">
        <div class="practic__content">
            <div class="practic__intro">

                <div class="practic__row">
                    <div class="practic__left-col">
                        <div class="practic__category">
                            Практики
                        </div>
                    </div>
                    <div class="practic__right-col">
                        <h1 class="practic__main-heading">
                            Судебно-арбитражная<br> практика
                        </h1>
                    </div>
                </div>
            </div>
            <div class="practic__main">
                <div class="practic__row">
                    <div class="practic__left-col">
                        <nav class="practic__nav js-practic-nav">
                            <div class="practic__nav-links">


                                <a href="#" class="practic__nav-link active">
                                    Судебно-арбитражная практика
                                </a>
                                <a href="#" class="practic__nav-link">
                                    Банкротство
                                </a>
                                <a href="#" class="practic__nav-link">
                                    Уголовно-правовая практика
                                </a>
                                <a href="#" class="practic__nav-link">
                                    Строительство и недвижимость
                                </a>
                                <a href="#" class="practic__nav-link">
                                    Урегулирование споров
                                </a>
                                <a href="#" class="practic__nav-link">
                                    Корпоративное право
                                </a>
                            </div>
                        </nav>
                    </div>
                    <div class="practic__right-col">
                        <div class="practic__text-content">
                            <div class="practic__large-text">
                                <p>
                                    Команда юристов Yalilov & Partners успешно защищает права и законные интересы
                                    клиентов в
                                    арбитражных судах и судах общей юрисдикции всех уровней.
                                </p>
                            </div>
                            <p>
                                Согласно исследованию «Право.ru» рынка литигации (разрешение споров) в России, в которое
                                вошли самые успешные юридические фирмы страны в области судебной практики,
                                судебно-арбитражная практика нашей компании в 2019 году оказалась в тройке лучших среди
                                участников по производному баллу за положительный результат в суде.
                            </p>
                            <div class="practic__success-rate">
                                <div class="practic__success-rate-amount">
                                    <em>
                                        ≈
                                    </em>
                                    90%
                                </div>
                                <div class="practic__success-rate-desc">
                                    дел разрешены<br>успешно
                                </div>
                            </div>
                            <p>
                                В рамках любого судебного спора, независимо от его масштабности, мы тщательно
                                проанализируем фактические обстоятельства вашего дела, установим закон, подлежащий
                                применению в данном случае, и изучим судебную практику, начиная с местных судов и
                                заканчивая высшей инстанцией, а в случае её отсутствия — сформируем такую практику в
                                ваших интересах.

                            </p>
                            <p>
                                В ходе предварительных переговоров наша команда уделяет особое внимание уточнению
                                требований Клиента, особенностей его сферы деятельности
                            </p>
                        </div>

                        <div class="practic__primary-goal">
                            <h2 class="practic__primary-goal-heading">
                                Основная цель
                            </h2>
                            <div class="practic__primary-goal-text">
                                <p>
                                    Предлагать решения, учитывающие положения законодательстваи практику его применения,
                                    а также
                                    соответсвующие потребностям Клиента.

                                </p>
                                <p>
                                    Мы стремимся не только выиграть дело в суде, но и обеспечить реальное восстановление
                                    прав и
                                    достижение экономического эффекта.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

</section>

{{/content}}
{{/extend}}