{{#extend "layout"}}
{{#content "main"}}



<section class="social">
    <div class="container">
        <div class="social__content">
            <div class="social__intro">
                <div class="social__intro-row">
                    <div class="social__intro-left-col">
                        <h1 class="social__intro-heading">
                            Социальная активность
                        </h1>
                    </div>
                    <div class="social__intro-right-col">
                        <div class="social__intro-text">
                            <p>
                                Социальная активность важна для Yalilov & Partners. Наше внимание сосредоточено на
                                создании условий для роста молодых кадров.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social__slider js-social-slider">
                <div class="social__slider-controls">
                    <button class="social__slider-controls-btn js-slider-arrow-prev">
                        пред
                    </button>
                    <span class="social__slider-controls-divider">

                    </span>
                    <button class="social__slider-controls-btn js-slider-arrow-next">
                        след
                    </button>
                </div>

                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="social__slider-card">
                                <div class="social__slider-card-bg">
                                    <img src="img/social/1.jpg" alt="" class="social__slider-card-bg-image">
                                </div>
                                <h4 class="social__slider-card-title">
                                    Татарстанское региональное отделение АЮР приступилок съёмкам проекта «Хoкемдар»
                                </h4>
                                <div class="social__slider-card-text">
                                    <p>
                                        Проект «Хөкемдар» - телевизионная передача, моделирующая процесс судебного
                                        разбирательства на татарском языке.
                                    </p>
                                </div>
                                <div class="social__slider-card-date">
                                    Окт 13, 2020
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="social__slider-card">
                                <div class="social__slider-card-bg">
                                    <img src="img/social/2.jpg" alt="" class="social__slider-card-bg-image">
                                </div>
                                <h4 class="social__slider-card-title">
                                    Татарстанское региональное отделение АЮР приступилок съёмкам проекта «Хoкемдар»
                                </h4>
                                <div class="social__slider-card-text">
                                    <p>
                                        Проект «Хөкемдар» - телевизионная передача, моделирующая процесс судебного
                                        разбирательства на татарском языке.
                                    </p>
                                </div>
                                <div class="social__slider-card-date">
                                    Окт 13, 2020
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="social__slider-card">
                                <div class="social__slider-card-bg">
                                    <img src="img/social/1.jpg" alt="" class="social__slider-card-bg-image">
                                </div>
                                <h4 class="social__slider-card-title">
                                    Татарстанское региональное отделение АЮР приступилок съёмкам проекта «Хoкемдар»
                                </h4>
                                <div class="social__slider-card-text">
                                    <p>
                                        Проект «Хөкемдар» - телевизионная передача, моделирующая процесс судебного
                                        разбирательства на татарском языке.
                                    </p>
                                </div>
                                <div class="social__slider-card-date">
                                    Окт 13, 2020
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="social__slider-card">
                                <div class="social__slider-card-bg">
                                    <img src="img/social/2.jpg" alt="" class="social__slider-card-bg-image">
                                </div>
                                <h4 class="social__slider-card-title">
                                    Татарстанское региональное отделение АЮР приступилок съёмкам проекта «Хoкемдар»
                                </h4>
                                <div class="social__slider-card-text">
                                    <p>
                                        Проект «Хөкемдар» - телевизионная передача, моделирующая процесс судебного
                                        разбирательства на татарском языке.
                                    </p>
                                </div>
                                <div class="social__slider-card-date">
                                    Окт 13, 2020
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="social__results">
                <div class="social__row">
                    <div class="social__sidebar js-social-nav">
                        <h3 class="social__sidebar-heading">
                            Рубрики
                        </h3>
                        <nav class="social__sidebar-nav">
                            <a href="#" class="social__sidebar-nav-link active">
                                События
                            </a>
                            <a href="#" class="social__sidebar-nav-link ">
                                Награды
                            </a>
                            <a href="#" class="social__sidebar-nav-link ">
                                Социальные проекты
                            </a>
                            <a href="#" class="social__sidebar-nav-link">
                                Благотворительность
                            </a>
                            <a href="#" class="social__sidebar-nav-link ">
                                Идеи
                            </a>
                            <a href="#" class="social__sidebar-nav-link">
                                Мастер-классы
                            </a>
                            <a href="#" class="social__sidebar-nav-link">
                                Интервью
                            </a>
                            <a href="#" class="social__sidebar-nav-link">
                                Кураторство
                            </a>
                        </nav>
                    </div>
                    <div class="social__main">
                        <ul class="social__list">
                            <li class="social__list-item">
                                <a href="#" class="social__card">
                                    <div class="social__card-category">
                                        События
                                    </div>
                                    <div class="social__card-image-container">
                                        <img src="img/social/social-1.jpg" alt="" class="social__card-image">
                                    </div>
                                    <h4 class="social__card-title">
                                        Состоялся Закрытый кинопоказ фильма Сидни Люмета - «12 разгневанных мужчин»
                                    </h4>
                                    <div class="social__card-date">
                                        Окт 13, 2020
                                    </div>
                                </a>
                            </li>
                            <li class="social__list-item">
                                <a href="#" class="social__card">
                                    <div class="social__card-category">
                                        Благотворительность
                                    </div>
                                    <div class="social__card-image-container">
                                        <img src="img/social/social-2.jpg" alt="" class="social__card-image">
                                    </div>
                                    <h4 class="social__card-title">
                                        Благотворительный сбор денег для Республиканского дома ребенка
                                    </h4>
                                    <div class="social__card-date">
                                        Окт 13, 2020
                                    </div>
                                </a>
                            </li>
                            <li class="social__list-item">
                                <a href="#" class="social__card">
                                    <div class="social__card-category">
                                        Социальные проекты
                                    </div>
                                    <div class="social__card-image-container">
                                        <img src="img/social/social-3.jpg" alt="" class="social__card-image">
                                    </div>
                                    <h4 class="social__card-title">
                                        «Что? Где? Когда?» совместнос Ассоциацией выпускников Юридического Факультета
                                    </h4>
                                    <div class="social__card-date">
                                        Окт 13, 2020
                                    </div>
                                </a>
                            </li>
                            <li class="social__list-item">
                                <a href="#" class="social__card">
                                    <div class="social__card-category">
                                        События
                                    </div>
                                    <div class="social__card-image-container">
                                        <img src="img/social/social-4.jpg" alt="" class="social__card-image">
                                    </div>
                                    <h4 class="social__card-title">
                                        Татарстанское региональное отделение АЮР приступилок съёмкам проекта «Хөкемдар»
                                    </h4>
                                    <div class="social__card-date">
                                        Окт 13, 2020
                                    </div>
                                </a>
                            </li>
                            <li class="social__list-item">
                                <a href="#" class="social__card">
                                    <div class="social__card-category">
                                        Благотворительность
                                    </div>
                                    <div class="social__card-image-container">
                                        <img src="img/social/social-5.jpg" alt="" class="social__card-image">
                                    </div>
                                    <h4 class="social__card-title">
                                        Поздравление неработающих пенсионеров Юридического факультета
                                    </h4>
                                    <div class="social__card-date">
                                        Окт 13, 2020
                                    </div>
                                </a>
                            </li>
                            <li class="social__list-item">
                                <a href="#" class="social__card">
                                    <div class="social__card-category">
                                        События
                                    </div>
                                    <div class="social__card-image-container">
                                        <img src="img/social/social-6.jpg" alt="" class="social__card-image">
                                    </div>
                                    <h4 class="social__card-title">
                                        Благотворительный сбор денег для Республиканского дома ребенка
                                    </h4>
                                    <div class="social__card-date">
                                        Окт 13, 2020
                                    </div>
                                </a>
                            </li>
                            <li class="social__list-item">
                                <a href="#" class="social__card">
                                    <div class="social__card-category">
                                        События
                                    </div>
                                    <div class="social__card-image-container">
                                        <img src="img/social/social-7.jpg" alt="" class="social__card-image">
                                    </div>
                                    <h4 class="social__card-title">
                                        Состоялся Закрытый кинопоказ фильма Сидни Люмета - «12 разгневанных мужчин»
                                    </h4>
                                    <div class="social__card-date">
                                        Окт 13, 2020
                                    </div>
                                </a>
                            </li>
                            <li class="social__list-item">
                                <a href="#" class="social__card">
                                    <div class="social__card-category">
                                        События
                                    </div>
                                    <div class="social__card-image-container">
                                        <img src="img/social/social-8.jpg" alt="" class="social__card-image">
                                    </div>
                                    <h4 class="social__card-title">
                                        Татарстанское региональное отделение АЮР приступилок съёмкам проекта «Хөкемдар»
                                    </h4>
                                    <div class="social__card-date">
                                        Окт 13, 2020
                                    </div>
                                </a>
                            </li>
                            <li class="social__list-item">
                                <a href="#" class="social__card">
                                    <div class="social__card-category">
                                        Социальные проекты
                                    </div>
                                    <div class="social__card-image-container">
                                        <img src="img/social/social-9.jpg" alt="" class="social__card-image">
                                    </div>
                                    <h4 class="social__card-title">
                                        Татарстанское региональное отделение АЮР приступилок съёмкам проекта «Хөкемдар»
                                    </h4>
                                    <div class="social__card-date">
                                        Окт 13, 2020
                                    </div>
                                </a>
                            </li>
                            <li class="social__list-item">
                                <a href="#" class="social__card">
                                    <div class="social__card-category">
                                        События
                                    </div>
                                    <div class="social__card-image-container">
                                        <img src="img/social/social-10.jpg" alt="" class="social__card-image">
                                    </div>
                                    <h4 class="social__card-title">
                                        Татарстанское региональное отделение АЮР приступилок съёмкам проекта «Хөкемдар»
                                    </h4>
                                    <div class="social__card-date">
                                        Окт 13, 2020
                                    </div>
                                </a>
                            </li>
                            <li class="social__list-item">
                                <a href="#" class="social__card">
                                    <div class="social__card-category">
                                        Благотворительность
                                    </div>
                                    <div class="social__card-image-container">
                                        <img src="img/social/social-11.jpg" alt="" class="social__card-image">
                                    </div>
                                    <h4 class="social__card-title">
                                        Татарстанское региональное отделение АЮР приступилок съёмкам проекта «Хөкемдар»
                                    </h4>
                                    <div class="social__card-date">
                                        Окт 13, 2020
                                    </div>
                                </a>
                            </li>
                            <li class="social__list-item">
                                <a href="#" class="social__card">
                                    <div class="social__card-category">
                                        Благотворительность
                                    </div>
                                    <div class="social__card-image-container">
                                        <img src="img/social/social-12.jpg" alt="" class="social__card-image">
                                    </div>
                                    <h4 class="social__card-title">
                                        Татарстанское региональное отделение АЮР приступилок съёмкам проекта «Хөкемдар»
                                    </h4>
                                    <div class="social__card-date">
                                        Окт 13, 2020
                                    </div>
                                </a>
                            </li>
                        </ul>


                        <div class="social__show-more-wrapper">
                            <a href="#" class="social__show-more">
                                <div class="social__show-more-text" data-text="показать еще">
                                    <div class="social__show-more-text-inner">
                                        показать еще
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{{/content}}
{{/extend}}