{{#extend "layout"}}
{{#content "main"}}

<section class="team-page">
    <div class="container">
        <div class="team-page__content">
            <div class="team-page__intro">
                <div class="team-page__row">
                    <div class="team-page__left-col">
                        <h1 class="team-page__heading">
                            Команда
                        </h1>
                    </div>
                    <div class="team-page__right-col">
                        <div class="team-page__intro-text">
                            <p>
                                Наша команда работает на юридическом рынке более 10 лет
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-page__more">
                <div class="team-page__row">
                    <div class="team-page__left-col">

                    </div>
                    <div class="team-page__right-col">
                        <a href="#" class="team-page__all-people-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-grid">
                                <use xlink:href="#grid"></use>
                            </svg>
                            Показать таблицей
                        </a>
                    </div>
                </div>
            </div>
            <div class="team-page__people">
                <div class="team-page__row">
                    <div class="team-page__left-col">
                        <div class="team-page__about-text">
                            <p>
                                Наша команда работает на юридическом рынке и мы являемся правопреемниками юридической
                                фирмы «Шаймарданов, Ялилови Сабитов»
                            </p>
                        </div>
                    </div>
                    <div class="team-page__right-col">
                        <div class="team-page__alpha">
                            <div class="team-page__alpha-letters">
                                <a href="#" class="team-page__alpha-letter">
                                    А
                                </a>
                                <a href="#" class="team-page__alpha-letter">
                                    Б
                                </a>
                                <a href="#" class="team-page__alpha-letter">
                                    В
                                </a>
                                <a href="#" class="team-page__alpha-letter">
                                    Г
                                </a>
                                <a href="#" class="team-page__alpha-letter">
                                    Д
                                </a>
                                <a href="#" class="team-page__alpha-letter">
                                    Е
                                </a>
                                <a href="#" class="team-page__alpha-letter">
                                    Ё
                                </a>
                                <a href="#" class="team-page__alpha-letter">
                                    Ж
                                </a>
                                <a href="#" class="team-page__alpha-letter">
                                    З
                                </a>
                                <a href="#" class="team-page__alpha-letter">
                                    И
                                </a>
                                <a href="#" class="team-page__alpha-letter">
                                    К
                                </a>
                                <a href="#" class="team-page__alpha-letter">
                                    Л
                                </a>
                                <a href="#" class="team-page__alpha-letter">
                                    М
                                </a>
                                <a href="#" class="team-page__alpha-letter">
                                    Н
                                </a>
                                <a href="#" class="team-page__alpha-letter">
                                    О
                                </a>
                                <a href="#" class="team-page__alpha-letter">
                                    П
                                </a>
                                <a href="#" class="team-page__alpha-letter">
                                    Р
                                </a>
                                <a href="#" class="team-page__alpha-letter">
                                    С
                                </a>
                                <a href="#" class="team-page__alpha-letter">
                                    Т
                                </a>
                                <a href="#" class="team-page__alpha-letter">
                                    У
                                </a>
                                <a href="#" class="team-page__alpha-letter">
                                    Ф
                                </a>
                                <a href="#" class="team-page__alpha-letter">
                                    Х
                                </a>
                                <a href="#" class="team-page__alpha-letter">
                                    Ц
                                </a>
                                <a href="#" class="team-page__alpha-letter">
                                    Ч
                                </a>
                                <a href="#" class="team-page__alpha-letter">
                                    Ш
                                </a>
                                <a href="#" class="team-page__alpha-letter">
                                    Щ
                                </a>
                                <a href="#" class="team-page__alpha-letter">
                                    Э
                                </a>
                                <a href="#" class="team-page__alpha-letter">
                                    Ю
                                </a>
                                <a href="#" class="team-page__alpha-letter">
                                    Я
                                </a>
                            </div>
                            <div class="team-page__alpha-results">
                                <div class="team-page__alpha-results-block">
                                    <div class="team-page__alpha-results-letter">
                                        А
                                    </div>
                                    <ul class="team-page__alpha-results-list">
                                        <li class="team-page__alpha-results-list-item">
                                            <a href="#" class="team-page__alpha-results-card">
                                                <h4 class="team-page__alpha-results-card-name">
                                                    Эльза Азизова
                                                </h4>
                                                <div class="team-page__alpha-results-card-role">
                                                    PR-менеджер
                                                </div>
                                            </a>
                                        </li>
                                        <li class="team-page__alpha-results-list-item">
                                            <a href="#" class="team-page__alpha-results-card">
                                                <h4 class="team-page__alpha-results-card-name">
                                                    Алия Алтынбаева
                                                </h4>
                                                <div class="team-page__alpha-results-card-role">
                                                    Партнер
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="team-page__alpha-results-block">
                                    <div class="team-page__alpha-results-letter">
                                        Г
                                    </div>
                                    <ul class="team-page__alpha-results-list">
                                        <li class="team-page__alpha-results-list-item">
                                            <a href="#" class="team-page__alpha-results-card">
                                                <h4 class="team-page__alpha-results-card-name">
                                                    Рустам Губайдуллин
                                                </h4>
                                                <div class="team-page__alpha-results-card-role">
                                                    Адвокат
                                                </div>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="team-page__alpha-results-block">
                                    <div class="team-page__alpha-results-letter">
                                        К
                                    </div>
                                    <ul class="team-page__alpha-results-list">
                                        <li class="team-page__alpha-results-list-item">
                                            <a href="#" class="team-page__alpha-results-card">
                                                <h4 class="team-page__alpha-results-card-name">
                                                    Герман Казанов
                                                </h4>
                                                <div class="team-page__alpha-results-card-role">
                                                    Юрист
                                                </div>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="team-page__alpha-results-block">
                                    <div class="team-page__alpha-results-letter">
                                        С
                                    </div>
                                    <ul class="team-page__alpha-results-list">
                                        <li class="team-page__alpha-results-list-item">
                                            <a href="#" class="team-page__alpha-results-card">
                                                <h4 class="team-page__alpha-results-card-name">
                                                    Аида Сабирзянова
                                                </h4>
                                                <div class="team-page__alpha-results-card-role">
                                                    Старший Юрист
                                                </div>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="team-page__alpha-results-block">
                                    <div class="team-page__alpha-results-letter">
                                        Ш
                                    </div>
                                    <ul class="team-page__alpha-results-list">
                                        <li class="team-page__alpha-results-list-item">
                                            <a href="#" class="team-page__alpha-results-card">
                                                <h4 class="team-page__alpha-results-card-name">
                                                    Адель Шагеев
                                                </h4>
                                                <div class="team-page__alpha-results-card-role">
                                                    Помощник Руководителя
                                                </div>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="team-page__alpha-results-block">
                                    <div class="team-page__alpha-results-letter">
                                        Я
                                    </div>
                                    <ul class="team-page__alpha-results-list">
                                        <li class="team-page__alpha-results-list-item">
                                            <a href="#" class="team-page__alpha-results-card">
                                                <h4 class="team-page__alpha-results-card-name">
                                                    Айнур Ялилов
                                                </h4>
                                                <div class="team-page__alpha-results-card-role">
                                                    Управляющий партнер
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{{/content}}
{{/extend}}