{{#extend "layout"}}
{{#content "main"}}

<section class="team-page">
    <div class="container">
        <div class="team-page__content">
            <div class="team-page__intro">
                <div class="team-page__row">
                    <div class="team-page__left-col">
                        <h1 class="team-page__heading">
                            Команда
                        </h1>
                    </div>
                    <div class="team-page__right-col">
                        <div class="team-page__intro-text">
                            <p>
                                Наша команда работает на юридическом рынке более 10 лет
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-page__more">
                <div class="team-page__row">
                    <div class="team-page__left-col">

                    </div>
                    <div class="team-page__right-col">
                        <a href="#" class="team-page__all-people-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-link-burger">
                                <use xlink:href="#link-burger"></use>
                            </svg>
                            Сотрудники от А до Я
                        </a>
                    </div>
                </div>
            </div>
            <div class="team-page__people">
                <div class="team-page__row">
                    <div class="team-page__left-col">
                        <div class="team-page__about-text">
                            <p>
                                Наша команда работает на юридическом рынке и мы являемся правопреемниками юридической
                                фирмы «Шаймарданов, Ялилови Сабитов»
                            </p>
                        </div>
                    </div>
                    <div class="team-page__right-col">
                        <div class="team-page__group">
                            <h3 class="team-page__group-title">Команда</h3>
                            <ul class="team-page__people-cards-list">
                                <li class="team-page__people-cards-list-item">
                                    <a href="#" class="team-page__people-card">
                                        <div class="team-page__people-card-image-container">
                                            <img src="img/team/1.png" alt="" class="team-page__people-card-image">
                                        </div>
                                        <div class="team-page__people-card-info">
                                            <h4 class="team-page__people-card-info-name" data-text="Айнур Ялилов">
                                                Айнур Ялилов
                                            </h4>
                                            <div class="team-page__people-card-info-role" data-text="Управляющий партнер">
                                                Управляющий партнер
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="team-page__people-cards-list-item">
                                    <a href="#" class="team-page__people-card">
                                        <div class="team-page__people-card-image-container">
                                            <img src="img/team/3.png" alt="" class="team-page__people-card-image">
                                        </div>
                                        <div class="team-page__people-card-info">
                                            <h4 class="team-page__people-card-info-name" data-text="Алия Алтынбаева">
                                                Алия Алтынбаева
                                            </h4>
                                            <div class="team-page__people-card-info-role" data-text="Партнер">
                                                Партнер
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li class="team-page__people-cards-list-item">
                                    <a href="#" class="team-page__people-card">
                                        <div class="team-page__people-card-image-container">
                                            <img src="img/team/2.png" alt="" class="team-page__people-card-image">
                                        </div>
                                        <div class="team-page__people-card-info">
                                            <h4 class="team-page__people-card-info-name" data-text="Сабина Мухамеджанова">
                                                Сабина Мухамеджанова
                                            </h4>
                                            <div class="team-page__people-card-info-role" data-text="Управляющий партнер">
                                                Управляющий партнер
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li class="team-page__people-cards-list-item">
                                    <a href="#" class="team-page__people-card">
                                        <div class="team-page__people-card-image-container">
                                            <img src="img/team/1.png" alt="" class="team-page__people-card-image">
                                        </div>
                                        <div class="team-page__people-card-info">
                                            <h4 class="team-page__people-card-info-name" data-text="Айнур Ялилов">
                                                Айнур Ялилов
                                            </h4>
                                            <div class="team-page__people-card-info-role" data-text="Управляющий партнер">
                                                Управляющий партнер
                                            </div>
                                        </div>
                                    </a>
                                </li>


                                <li class="team-page__people-cards-list-item">
                                    <a href="#" class="team-page__people-card">
                                        <div class="team-page__people-card-image-container">
                                            <img src="img/team/3.png" alt="" class="team-page__people-card-image">
                                        </div>
                                        <div class="team-page__people-card-info">
                                            <h4 class="team-page__people-card-info-name" data-text="Алия Алтынбаева">
                                                Алия Алтынбаева
                                            </h4>
                                            <div class="team-page__people-card-info-role" data-text="Партнер">
                                                Партнер
                                            </div>
                                        </div>
                                    </a>
                                </li>


                                <li class="team-page__people-cards-list-item">
                                    <a href="#" class="team-page__people-card">
                                        <div class="team-page__people-card-image-container">
                                            <img src="img/team/2.png" alt="" class="team-page__people-card-image">
                                        </div>
                                        <div class="team-page__people-card-info">
                                            <h4 class="team-page__people-card-info-name" data-text="Сабина Мухамеджанова">
                                                Сабина Мухамеджанова
                                            </h4>
                                            <div class="team-page__people-card-info-role" data-text="Управляющий партнер">
                                                Управляющий партнер
                                            </div>
                                        </div>
                                    </a>
                                </li>


                                <li class="team-page__people-cards-list-item">
                                    <a href="#" class="team-page__people-card">
                                        <div class="team-page__people-card-image-container">
                                            <img src="img/team/2.png" alt="" class="team-page__people-card-image">
                                        </div>
                                        <div class="team-page__people-card-info">
                                            <h4 class="team-page__people-card-info-name" data-text="Сабина Мухамеджанова">
                                                Сабина Мухамеджанова
                                            </h4>
                                            <div class="team-page__people-card-info-role" data-text="Управляющий партнер">
                                                Управляющий партнер
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li class="team-page__people-cards-list-item">
                                    <a href="#" class="team-page__people-card">
                                        <div class="team-page__people-card-image-container">
                                            <img src="img/team/1.png" alt="" class="team-page__people-card-image">
                                        </div>
                                        <div class="team-page__people-card-info">
                                            <h4 class="team-page__people-card-info-name" data-text="Айнур Ялилов">
                                                Айнур Ялилов
                                            </h4>
                                            <div class="team-page__people-card-info-role" data-text="Управляющий партнер">
                                                Управляющий партнер
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="team-page__group">
                            <h3 class="team-page__group-title">Научный совет</h3>
                            <ul class="team-page__people-cards-list">
                                <li class="team-page__people-cards-list-item">
                                    <a href="#" class="team-page__people-card">
                                        <div class="team-page__people-card-image-container">
                                            <img src="img/team/1.png" alt="" class="team-page__people-card-image">
                                        </div>
                                        <div class="team-page__people-card-info">
                                            <h4 class="team-page__people-card-info-name" data-text="Айнур Ялилов">
                                                Айнур Ялилов
                                            </h4>
                                            <div class="team-page__people-card-info-role" data-text="Управляющий партнер">
                                                Управляющий партнер
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="team-page__people-cards-list-item">
                                    <a href="#" class="team-page__people-card">
                                        <div class="team-page__people-card-image-container">
                                            <img src="img/team/3.png" alt="" class="team-page__people-card-image">
                                        </div>
                                        <div class="team-page__people-card-info">
                                            <h4 class="team-page__people-card-info-name" data-text="Алия Алтынбаева">
                                                Алия Алтынбаева
                                            </h4>
                                            <div class="team-page__people-card-info-role" data-text="Партнер">
                                                Партнер
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li class="team-page__people-cards-list-item">
                                    <a href="#" class="team-page__people-card">
                                        <div class="team-page__people-card-image-container">
                                            <img src="img/team/2.png" alt="" class="team-page__people-card-image">
                                        </div>
                                        <div class="team-page__people-card-info">
                                            <h4 class="team-page__people-card-info-name" data-text="Сабина Мухамеджанова">
                                                Сабина Мухамеджанова
                                            </h4>
                                            <div class="team-page__people-card-info-role" data-text="Управляющий партнер">
                                                Управляющий партнер
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li class="team-page__people-cards-list-item">
                                    <a href="#" class="team-page__people-card">
                                        <div class="team-page__people-card-image-container">
                                            <img src="img/team/1.png" alt="" class="team-page__people-card-image">
                                        </div>
                                        <div class="team-page__people-card-info">
                                            <h4 class="team-page__people-card-info-name" data-text="Айнур Ялилов">
                                                Айнур Ялилов
                                            </h4>
                                            <div class="team-page__people-card-info-role" data-text="Управляющий партнер">
                                                Управляющий партнер
                                            </div>
                                        </div>
                                    </a>
                                </li>


                                <li class="team-page__people-cards-list-item">
                                    <a href="#" class="team-page__people-card">
                                        <div class="team-page__people-card-image-container">
                                            <img src="img/team/3.png" alt="" class="team-page__people-card-image">
                                        </div>
                                        <div class="team-page__people-card-info">
                                            <h4 class="team-page__people-card-info-name" data-text="Алия Алтынбаева">
                                                Алия Алтынбаева
                                            </h4>
                                            <div class="team-page__people-card-info-role" data-text="Партнер">
                                                Партнер
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{{/content}}
{{/extend}}
