{{#extend "layout"}}
{{#content "main"}}



<section class="text">
    <div class="container">
        <div class="text__content">
            <div class="text__row">
                <div class="text__left-col">
                    <a href="#" class="text__back-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                        Назад
                    </a>
                </div>
                <div class="text__right-col">
                    <div class="text__event-date">
                        События • 30.10.2020
                    </div>
                    <h1 class="text__main-heading">
                        «Что? Где? Когда?» совместно
                        с Ассоциацией выпускников Юридического Факультета
                    </h1>
                    <div class="text__main-content">
                        <div class="text__image-block">
                            <img src="img/text-block-image.jpg" alt="">
                        </div>
                        <p>
                            <big>
                                29 октября, в ресторане «Перекрёсток Джаза», состоялась закрытая игра «Что? Где?
                                Когда?» по лицензии телекомпании «Тв-Игра». Ведущим игры выступил Борис Белозеров,
                                действующий знаток, обладатель Хрустальной совы, капитан именитой команды.
                            </big>
                        </p>

                        <h3>
                            Состав команд
                        </h3>
                        <p>
                            В мероприятии приняли участие: руководители Юридического факультета КФУ, члены
                            Попечительского Совета Юридического факультета КФУ, ученые, практики, предприниматели и
                            представители ведущих юридических фирм Татарстана.
                        </p>
                        <div class="text__gallery js-text-page-gallery">
                            <div class="text__gallery-main">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="text__gallery-main-image-container">
                                                <img src="img/text-slider-1.jpg" alt=""
                                                    class="text__gallery-main-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="text__gallery-main-image-container">
                                                <img src="img/text-slider-1.jpg" alt=""
                                                    class="text__gallery-main-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="text__gallery-main-image-container">
                                                <img src="img/text-slider-1.jpg" alt=""
                                                    class="text__gallery-main-image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="text__gallery-arrow text__gallery-arrow--prev">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                        <use xlink:href="#arrow-left"></use>
                                    </svg>
                                </button>
                                <button class="text__gallery-arrow text__gallery-arrow--next">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="text__gallery-thumbs">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="text__gallery-thumbs-card">
                                                <img src="img/text-gallery-thumb.jpg" alt=""
                                                    class="text__gallery-thumbs-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="text__gallery-thumbs-card">
                                                <img src="img/text-gallery-thumb.jpg" alt=""
                                                    class="text__gallery-thumbs-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="text__gallery-thumbs-card">
                                                <img src="img/text-gallery-thumb.jpg" alt=""
                                                    class="text__gallery-thumbs-card-image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <h3>
                            Процесс и результаты
                        </h3>
                        <p>
                            В первом раунде знатоки проиграли телезрителям со счетом 5:6,но во втором раунде, в упорной
                            борьбе, отыгрались со счетом 6:5.
                        </p>
                        <p>
                            В перерывах между играми для гостей выступала Джаз-группа Dr. Vaks band.
                        </p>
                        <p>
                            Мероприятие прошло в дружественной и теплой атмосфере, все участники и гости остались
                            довольны.
                        </p>
                        <p>
                            Организатором мероприятия выступила Ассоциация выпускников Юридического факультета КФУ.
                        </p>
                        <h3>
                            Благодарность спонсорам мероприятия
                        </h3>

                        <ul>
                            <li>
                                Юридическая фирма «Шаймарданов, Ялилов и Сабитов»
                            </li>
                            <li>
                                Юридическая компания «СтройКапиталКонсалтинг»
                            </li>
                            <li>
                                Юридическая компания «Парадигма».
                            </li>
                        </ul>

                        <blockquote class="text-quote">
                            <div class="text-quote__content">
                                Будучи любителем интеллектуальных игр, хотелось организовать нечто похожее у нас, в
                                Казани. Люблю эту игру за простые правила, особую атмосферу, продуманность сюжета,
                                бодрящий дух соперничества!
                            </div>
                            <div class="text-quote__author">
                                <div class="text-quote__author-name">
                                    ©Айнур Ялилов
                                </div>
                                <div class="text-quote__author-role">
                                    Управляющий партнер Yalilov & Partners
                                </div>
                            </div>
                        </blockquote>

                        <h3>
                            Благодарность спонсорам мероприятия
                        </h3>
                        <ol>
                            <li>
                                Юридическая фирма «Шаймарданов, Ялилов и Сабитов»

                            </li>
                            <li>
                                Юридическая компания «СтройКапиталКонсалтинг»

                            </li>

                            <li>
                                Юридическая компания «Парадигма».
                            </li>
                        </ol>

                        <div class="text__table-block">
                            <h2 class="text__table-block-heading">
                                Сюжетная таблица
                            </h2>
                            <div class="text__table-border-wrapper">


                                <div class="text__table-scroll-wrapper js-scrollable-table">
                                    <div class="text__table-wrapper">



                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>
                                                        №
                                                    </th>
                                                    <th>
                                                        Выбор языка
                                                    </th>
                                                    <th>
                                                        Название ремесла
                                                    </th>
                                                    <th>
                                                        Обозначение
                                                    </th>
                                                    <th>
                                                        Обозначение
                                                    </th>
                                                    <th>
                                                        Обозначение
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        1
                                                    </td>
                                                    <td>
                                                        Древнегреческий
                                                    </td>
                                                    <td>
                                                        Художник
                                                    </td>
                                                    <td class="wide">
                                                        Автоматизм семантически ускоряет потребительский объект
                                                    </td>
                                                    <td class="wide">
                                                        Автоматизм семантически ускоряет потребительский объект
                                                    </td>
                                                    <td class="wide">
                                                        Автоматизм семантически ускоряет потребительский объект
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        2
                                                    </td>
                                                    <td>
                                                        Татарский
                                                    </td>
                                                    <td>
                                                        Ученый
                                                    </td>
                                                    <td class="wide">
                                                        Квант испускает погранслой
                                                    </td>
                                                    <td class="wide">
                                                        Квант испускает погранслой
                                                    </td>
                                                    <td class="wide">
                                                        Квант испускает погранслой
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        3
                                                    </td>
                                                    <td>
                                                        Иранский
                                                    </td>
                                                    <td>
                                                        Поэт
                                                    </td>
                                                    <td class="wide">
                                                        Онтогенез речи дает филогенез
                                                    </td>
                                                    <td class="wide">
                                                        Онтогенез речи дает филогенез
                                                    </td>
                                                    <td class="wide">
                                                        Онтогенез речи дает филогенез
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        4
                                                    </td>
                                                    <td>
                                                        Китайский
                                                    </td>
                                                    <td>
                                                        Философ
                                                    </td>
                                                    <td class="wide">
                                                        Автоматизм семантически ускоряет потребительский объект
                                                    </td>
                                                    <td class="wide">
                                                        Автоматизм семантически ускоряет потребительский объект
                                                    </td>
                                                    <td class="wide">
                                                        Автоматизм семантически ускоряет потребительский объект
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        5
                                                    </td>
                                                    <td>
                                                        Японский
                                                    </td>
                                                    <td>
                                                        Историк
                                                    </td>
                                                    <td class="wide">
                                                        Квант испускает погранслой
                                                    </td>
                                                    <td class="wide">
                                                        Квант испускает погранслой
                                                    </td>
                                                    <td class="wide">
                                                        Квант испускает погранслой
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        6
                                                    </td>
                                                    <td>
                                                        Английский
                                                    </td>
                                                    <td>
                                                        Учитель
                                                    </td>
                                                    <td class="wide">
                                                        Онтогенез речи дает филогенез
                                                    </td>
                                                    <td class="wide">
                                                        Онтогенез речи дает филогенез
                                                    </td>
                                                    <td class="wide">
                                                        Онтогенез речи дает филогенез
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="text__footer">
                        <div class="text__footer-info">
                            <p>
                                События • 30.10.2020
                            </p>
                            <p>
                                Автор: Николай Кузнецов
                            </p>
                        </div>

                        <div class="text__sharing">
                            Поделится
                            <svg width="14" height="14" aria-hidden="true" class="icon-sharing-link">
                                <use xlink:href="#sharing-link"></use>
                            </svg>
                            <div class="text__sharing-dropdown">
                                <div class="text__sharing-dropdown-inner">
                                    <ul class="text__sharing-list">
                                        <li class="text__sharing-list-item">
                                            <a href="#" class="text__sharing-link">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-facebook">
                                                    <use xlink:href="#facebook"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="text__sharing-list-item">
                                            <a href="#" class="text__sharing-link">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-twitter">
                                                    <use xlink:href="#twitter"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="text__sharing-list-item">
                                            <a href="#" class="text__sharing-link">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-vk">
                                                    <use xlink:href="#vk"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="text__sharing-list-item">
                                            <a href="#" class="text__sharing-link">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-telegram">
                                                    <use xlink:href="#telegram"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="text__sharing-list-item">
                                            <a href="#" class="text__sharing-link">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-whatsapp">
                                                    <use xlink:href="#whatsapp"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="text__sharing-list-item">
                                            <a href="#" class="text__sharing-link js-copy-current-link">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                                    <use xlink:href="#link"></use>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="similar-publications js-similar-publications">
    <div class="container">
        <div class="similar-publications__content">
            <div class="similar-publications__top-row">
                <h2 class="similar-publications__heading">
                    Похожие публикации
                </h2>

                <div class="similar-publications__controls">
                    <button class="similar-publications__controls-btn js-slider-arrow-prev">
                        пред
                    </button>
                    <span class="similar-publications__controls-divider">

                    </span>
                    <button class="similar-publications__controls-btn js-slider-arrow-next">
                        след
                    </button>
                </div>
            </div>
            <div class="similar-publications__cards js-slider-cards">
                <div class="similar-publications__card js-slider-card">
                    <a href="#" class="social__card">
                        <div class="social__card-category">
                            События
                        </div>
                        <div class="social__card-image-container">
                            <img src="img/social/social-1.jpg" alt="" class="social__card-image">
                        </div>
                        <h4 class="social__card-title">
                            Состоялся Закрытый кинопоказ фильма Сидни Люмета - «12 разгневанных мужчин»
                        </h4>
                        <div class="social__card-date">
                            Окт 13, 2020
                        </div>
                    </a>
                </div>
                <div class="similar-publications__card js-slider-card">
                    <a href="#" class="social__card">
                        <div class="social__card-category">
                            Благотворительность
                        </div>
                        <div class="social__card-image-container">
                            <img src="img/social/social-2.jpg" alt="" class="social__card-image">
                        </div>
                        <h4 class="social__card-title">
                            Благотворительный сбор денег для Республиканского дома ребенка
                        </h4>
                        <div class="social__card-date">
                            Окт 13, 2020
                        </div>
                    </a>
                </div>
                <div class="similar-publications__card js-slider-card">
                    <a href="#" class="social__card">
                        <div class="social__card-category">
                            Социальные проекты
                        </div>
                        <div class="social__card-image-container">
                            <img src="img/social/social-3.jpg" alt="" class="social__card-image">
                        </div>
                        <h4 class="social__card-title">
                            «Что? Где? Когда?» совместнос Ассоциацией выпускников Юридического Факультета
                        </h4>
                        <div class="social__card-date">
                            Окт 13, 2020
                        </div>
                    </a>
                </div>
                <div class="similar-publications__card js-slider-card">
                    <a href="#" class="social__card">
                        <div class="social__card-category">
                            События
                        </div>
                        <div class="social__card-image-container">
                            <img src="img/social/social-4.jpg" alt="" class="social__card-image">
                        </div>
                        <h4 class="social__card-title">
                            Татарстанское региональное отделение АЮР приступилок съёмкам проекта «Хөкемдар»
                        </h4>
                        <div class="social__card-date">
                            Окт 13, 2020
                        </div>
                    </a>
                </div>
            </div>
        </div>


    </div>
</section>
{{/content}}
{{/extend}}