{{#extend "layout"}}
{{#content "main"}}


<section class="values">
    <div class="container">
        <div class="values__content">
            <div class="values__intro">
                <div class="values__intro-row">
                    <div class="values__intro-left-col">
                        <h2 class="values__intro-heading">
                            Ценности<br> компании
                        </h2>
                    </div>
                    <div class="values__intro-right-col">
                        <div class="values__intro-large-text">
                            <p>
                                В своей работе мы решаем не только одну поставленную задачу,а полностью снимаем проблему
                                клиента, достигая постановленной цели
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="values__picture-block">
                <div class="values__picture-block-sidebar">
                    <img src="img/values/values-sidebar-image.jpg" alt="" class="values__picture-block-sidebar-image">
                </div>
                <div class="values__picture-block-main">
                    <div class="values__picture-block-main-row">
                        <div class="values__picture-block-main-col">
                            <img src="img/values/values-main-image.jpg" alt="" class="values__picture-block-main-image">
                        </div>
                        <div class="values__picture-block-main-col">
                            <div class="values__picture-block-main-text">
                                <p>
                                    Юристы во всем мире являются профессионалами, которые ставят интересы своих клиентов
                                    выше своих собственных и стараются добиться уваженияк Верховенству Права.

                                </p>
                                <p>
                                    Мы уверены в том, что принципы и стандарты корпоративного поведения являются
                                    нравственными и этическими ориентирамии правилами в отношениях с клиентами. Именно
                                    они определяют модели поведения, границы допустимого в отношениях с клиентами,
                                    накладывают дополнительные обязанностив процессе оказания юридических услуг.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="values__policy-block">
                <div class="values__policy-block-sidebar">
                    <h3 class="values__policy-heading">
                        Политика компании
                    </h3>
                </div>
                <div class="values__policy-block-main">
                    <div class="values__policy-text">
                        <p>
                            Наша корпоративная политика основывается на индивидуальном подходе, взаимном уважении наряду
                            с качеством, эффективностью, компетентностью и конфиденциальностью.

                        </p>
                        <p>
                            Для нас каждое дело — особый случай, и мы не берем его только ради самого дела, забывая, для
                            кого и для чего мы это делаем: за любым бизнесом стоят люди, и, защищая интересы компании,
                            мы всегда видим и защищаем именно людей.
                        </p>
                    </div>
                    <img src="img/values/policy.jpg" alt="" class="values__policy-image">
                </div>
            </div>

            <div class="values__opinion-block">
                <div class="values__opinion-block-left-col">
                    <div class="values__opinion-block-large-text">
                        <p>
                            Мы бережно относимся к мнению клиентов, партнеров и оппонентов
                        </p>
                    </div>
                </div>
                <div class="values__opinion-block-right-col">
                    <div class="values__opinion-block-small-text">
                        <p>
                            Мы уважаем внутренниые убеждениям, религиозным и политическим взглядам, чувствами
                            эмоциональному состоянию. Мы существенно повышаем эффективность нашей работы, создавая
                            комфортные условия для всех участников процесса.
                        </p>
                    </div>
                </div>
            </div>

            <div class="values__mission">
                <h2 class="values__mission-heading">
                    Миссия Yalilov & Partners
                </h2>
                <div class="values__mission-content">
                    <div class="values__mission-card">
                        <ul class="values__mission-card-list">
                            <li class="values__mission-card-list-item">
                                <div class="values__mission-item-card-content">
                                    Обеспечить высокое качество обслуживаниянаших клиентов
                                </div>

                            </li>
                            <li class="values__mission-card-list-item">

                                <div class="values__mission-item-card-content">
                                    Придерживаться самых высоких этических стандартов
                                </div>
                            </li>
                            <li class="values__mission-card-list-item">


                                <div class="values__mission-item-card-content">
                                    Повышать статус, уровень профессионализмаи престиж профессии юриста
                                </div>
                            </li>
                            <li class="values__mission-card-list-item">


                                <div class="values__mission-item-card-content">
                                    Предлагать свои навыки и таланты для улучшения юридической профессии
                                </div>
                            </li>
                            <li class="values__mission-card-list-item">



                                <div class="values__mission-item-card-content">
                                    Развивать, поддерживать и поощрять новые поколения юристов, продолжающих идею
                                    приверженности совершенству, честности, разнообразию и коллегиальности
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="values__priorities">
                <h2 class="values__priorities-heading">
                    Приоритеты Yalilov & Partners
                </h2>
                <div class="values__priorities-content">
                    <ol class="values__priorities-list">
                        <li class="values__priorities-list-item">
                            <div class="values__priorities-item-text">
                                Действовать честно и добросовестно в интересах клиента
                            </div>
                        </li>
                        <li class="values__priorities-list-item">
                            <div class="values__priorities-item-text">
                                Отстаивать верховенство закона и надлежащее отправление правосудия
                            </div>
                        </li>
                        <li class="values__priorities-list-item">
                            <div class="values__priorities-item-text">
                                Не допускать компрометации своей независимости
                            </div>
                        </li>
                        <li class="values__priorities-list-item">
                            <div class="values__priorities-item-text">
                                Соблюдать свои юридические и нормативные обязательства
                            </div>
                        </li>
                        <li class="values__priorities-list-item">
                            <div class="values__priorities-item-text">
                                Работать и сотрудничать государственными органами открыто, уважая верховенство права и
                                справедливое отправление правосудия
                            </div>
                        </li>
                    </ol>
                </div>
            </div>


            <div class="values__experience">
                <div class="values__experience-top-row">
                    <div class="values__experience-top-block-text">
                        Применяя накопленный опыт, внедряя инновации, мы устанавливаем современные стандарты
                    </div>

                </div>
                <div class="values__experience-bottom-row">
                    <div class="values__experience-left-col">
                        <div class="values__experience-small-text">
                            <p>
                                Основной движущей силой нашего развития всегда были и остаются потребности наших
                                клиентов, в
                                постоянно меняющихся условиях рынка мы видим новые возможности и перспективы.
                            </p>
                            <p>
                                Yalilov & Partners рады вместе с Вами двигаться дальше к новым горизонтам и свершениям.
                            </p>
                        </div>
                    </div>
                    <div class="values__experience-right-col">
                        <img src="img/values/values-experience.jpg" alt="" class="values__experience-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}