.employee-education {
    margin: 15rem 0;

    @include breakpoint(mobile) {
        margin: 5rem 0;
        margin-bottom: 6rem;
    }
}

.employee-education__content {
    padding-left: var(--sidebar-width);
    @include breakpoint(mobile) {
        padding: 0;
    }
}

.employee-education__row {
    display: flex;
}

.employee-education__left-col {
    width: 35rem;
    flex-shrink: 0;

    @include breakpoint(mobile) {
        width: 3rem;
    }

    &::after {
        content: '';

        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 2.3rem 2.3rem;
        border-color: transparent transparent #c6cbca;
        margin-top: 2rem;
        flex-shrink: 0;

        @include breakpoint(mobile) {
            border-width: 0 0 1rem 1rem;
            margin-top: 1rem;
        }
    }
}

.employee-education__right-col {
    width: 40%;
    flex-grow: 1;
}

.employee-education__heading {
    font-size: 4.5rem;
    line-height: 6.3rem;
    font-weight: 400;
    font-family: var(--orchidea);
    padding-bottom: 4rem;
    border-bottom: 1px solid #c6cbca;
    margin-bottom: 5rem;

    @include breakpoint(mobile) {
        font-size: 2rem;
        line-height: 2.9rem;
        margin-bottom: 3rem;
        padding-bottom: 1.4rem;
    }
}

.employee-education__list {
    @include breakpoint(mobile) {
        padding-left: 3rem;
    }
}

.employee-education__list-item {
    margin-bottom: 6rem;

    @include breakpoint(mobile) {
        margin-bottom: 3.6rem;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.employee-education__card {
    display: flex;
    align-items: flex-start;

    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
    }
}

.employee-education__card-year {
    width: 35rem;
    flex-shrink: 0;
    font-size: 3.2rem;
    line-height: 1.2;
    font-family: var(--orchidea);

    @include breakpoint(mobile) {
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 1.3rem;
    }
}

.employee-education__card-content {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    width: 50%;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
        flex-direction: column;
        align-items: initial;
    }
}

.employee-education__card-description {
    width: 50%;
    flex-grow: 1;
    font-size: 2.4rem;
    line-height: 3.5rem;
    max-width: 66rem;
    margin-right: auto;

    @include breakpoint(mobile) {
        font-size: 2rem;
        line-height: 2.5rem;
        width: 100%;
        flex-grow: 0;
        margin-bottom: 1rem;
    }
}

.employee-education__card-logo {
    width: auto;
    height: auto;
    flex-shrink: 0;
    margin-left: 2rem;
    max-width: 10.2rem;
    max-height: 6rem;
    object-fit: contain;
    @include breakpoint(mobile) {
        max-height: 5.5rem;
        max-width: 8rem;
        margin: 0;
        margin-left: auto;
    }
}
