.our-clients {
    margin-bottom: 12rem;

    @include breakpoint(mobile) {
        margin-bottom: 6rem;
    }
}

.our-clients__heading {
    padding-left: var(--sidebar-width);
    margin-bottom: 8rem;

    @include breakpoint(mobile) {
        padding-left: 0;
        margin-bottom: 4rem;
    }
}

.our-clients__slider {
    margin-bottom: 6rem;
    padding-left: var(--sidebar-width);
    @include breakpoint(mobile) {
        margin-bottom: 5rem;
        padding-left: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
    .swiper-container {
        overflow: visible;
    }

    .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        grid-gap: 6rem;
        grid-column-gap: 12rem;

        @include breakpoint(mobile) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-gap: 4rem;
            grid-column-gap: 8rem;
        }
    }

    .swiper-slide {
        width: 100%;

        display: flex;
        flex-direction: column;
    }
}

.our-clients__slider-card {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    &::before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 56.25%;
    }
}

.our-clients__slider-card-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    display: block;
    filter: grayscale(100%);
    position: absolute;
}
