.page-footer {
    @include breakpoint(small-tablet) {
        background: rgba(#183029, 0.5);

        &--dark {
            background: #f9f9f9;
        }
    }


    @include breakpoint(mobile) {
        background: transparent;
    }
}

.page-footer__content {
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: var(--sidebar-width);
    padding-bottom: 7.5rem;
    position: relative;
    padding-top: 9rem;

    .page-footer--dark & {
        color: var(--text-color);
    }

    @include breakpoint(small-tablet) {
        min-height: auto;
    }

    @include breakpoint(mobile) {
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 0;
    }
}

.page-footer__copyright {
    position: absolute;
    left: 0;
    bottom: 7.5rem;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.2rem;

    @include breakpoint(mobile) {
        position: static;
        left: auto;
        bottom: auto;
        font-feature-settings: 'case' on;
        font-size: 1.2rem;
        line-height: 1.9rem;
        margin-bottom: 1rem;
        font-weight: 400;

        .page-footer--dark & {
            color: var(--text-color);
        }
    }
}

.page-footer__top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 6rem;
    border-bottom: 1px solid rgba(white, 0.3);

    .page-footer--dark & {
        border-color: #b6bdbb;
    }

    @include breakpoint(mobile) {
        display: grid;
        justify-content: initial;
        padding-bottom: 5.4rem;
        border: none;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-areas: 'logo language' 'social social';
        grid-column-gap: 2rem;
        grid-row-gap: 5rem;
    }
}

.page-footer__languages {
    display: flex;
    align-items: baseline;
    margin-right: 3rem;

    @include breakpoint(mobile) {
        margin-right: 0;
        grid-area: language;
        justify-self: flex-end;
    }
}

.page-footer__languages-link {
    white-space: nowrap;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.2;
    color: rgba(white, 0.3);
    margin-right: 3rem;
    flex-shrink: 0;
    &:last-child {
        margin-right: 0;
    }

    &:link,
    &:visited {
        color: rgba(white, 0.3);
    }

    .no-touch &:hover {
        color: white;
    }

    &.active {
        font-weight: 400;
        color: white;
    }

    .page-footer--dark & {
        color: rgba(#183029, 0.5);

        &:link,
        &:visited {
            color: rgba(#183029, 0.5);
        }

        .no-touch &:hover {
            color: #183029;
        }

        &.active {
            color: #183029;
        }
    }

    @include breakpoint(mobile) {
        margin-right: 2.5rem;
    }
}

.page-footer__social {
    display: flex;
    align-items: center;

    @include breakpoint(mobile) {
        grid-area: social;
        justify-content: space-between;
    }
}

.page-footer__logo {
    display: none;
    @include breakpoint(mobile) {
        display: block;
        grid-area: logo;
    }
}

.page-footer__logo-image {
    width: 11.1rem;
    height: auto;
    display: block;
}
.page-footer__social-link {
    color: white;
    flex-shrink: 0;
    margin-right: 6.5rem;
    transition: transform 0.2s;
    &:last-child {
        margin-right: 0;
    }
    &:link,
    &:visited {
        color: white;
    }

    .page-footer--dark & {
        color: var(--text-color);
        &:link,
        &:visited {
            color: var(--text-color);
        }
    }

    .no-touch &:hover {
        transform: scale(1.1);
    }
    svg {
        display: block;
        width: 1.6rem;
        height: 1.6rem;
        fill: currentColor;

        @include breakpoint(mobile) {
            width: 2rem;
            height: 2rem;
            fill: #c7cccb;

            .page-footer--dark & {
                fill: #A1AAA8;
            }
        }
    }
}

.page-footer__nav {
    padding-top: 18rem;

    @include breakpoint(mobile) {
        padding-top: 0;
        margin-bottom: 5.8rem;
    }
}

.page-footer__nav-row {
    display: flex;

    @include breakpoint(mobile) {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-column-gap: 2rem;
        grid-row-gap: 6rem;
    }
}
.page-footer__nav-col {
    @include breakpointMF(small-tablet) {
        &:nth-child(1) {
            width: 20rem;
            margin-right: 16rem;
        }

        &:nth-child(2) {
            width: 20rem;
            margin-right: 3rem;
        }

        &:nth-child(3) {
            width: 28.4rem;
            margin-left: auto;
        }
    }

    @include breakpoint(mobile) {
        &:nth-child(3) {
            grid-column: 1 / -1;
        }
    }
}

.page-footer__nav-col-heading {
    font-weight: 300;
    font-size: 2.6rem;
    line-height: 2.6rem;
    margin-bottom: 5.5rem;
    font-family: var(--orchidea);

    @include breakpoint(mobile) {
        font-size: 1.8rem;
        line-height: 1.2;
        margin-bottom: 1.8rem;
        font-weight: 400;
    }
}

.page-footer__nav-list-item {
    margin-bottom: 2.5rem;

    @include breakpoint(mobile) {
        margin-bottom: 1rem;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.page-footer__nav-link {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.2rem;
    display: inline-flex;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: currentColor;
        transform-origin: left center;
        transform: scaleX(0);
        transition: transform 0.3s;
    }

    @include breakpoint(mobile) {
        font-size: 1.3rem;
        line-height: 1.2;
        font-weight: 400;
    }

    .no-touch &:hover {
        &::before {
            transform: scaleX(1);
        }
        .page-footer__nav-link-text-inner {
            transform: translateY(100%);
        }

        .page-footer__nav-link-text::after {
            transform: translateY(100%);
        }
    }
}

.page-footer__nav-link-text {
    display: block;
    overflow: hidden;
    position: relative;
    &::after {
        content: attr(data-text);
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        transition: transform 0.4s;
    }
}

.page-footer__nav-link-text-inner {
    transition: transform 0.4s;
    display: block;
}
.page-footer__contacts {
    @include breakpoint(mobile) {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-column-gap: 2rem;
        grid-row-gap: 2.4rem;
    }
}

.page-footer__contacts-item {
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        margin-bottom: 0;

        &:nth-child(3) {
            grid-column: 1 / -1;
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.page-footer__contacts-heading {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: rgba(white, 0.5);
    margin-bottom: 1.1rem;

    .page-footer--dark & {
        color: rgba(#183029, 0.5);
        font-weight: 400;
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.9rem;
        margin-bottom: 0.3rem;
    }
}

.page-footer__contacts-info {
    font-size: 1.8rem;
    line-height: 2.3rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.9rem;
    }

    a {
        .no-touch &:hover {
            text-decoration: underline;
        }
    }
}

.page-footer__made-by {
    display: inline-flex;
    align-items: center;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-top: auto;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.9rem;
        font-weight: 400;
        .page-footer--dark & {
            color: var(--text-color);
        }
    }
}

.page-footer__made-by-logo {
    width: 9.1rem;
    height: auto;
    flex-shrink: 0;
    margin-left: 1.7rem;
    position: relative;
    bottom: -0.4rem;

    @include breakpoint(mobile) {
        width: 6.7rem;
        bottom: -0.15rem;
        margin-left: 1rem;
    }
}
