.team-page__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 18rem;
    padding-left: var(--sidebar-width);
    position: relative;
    padding-bottom: 12rem;

    @include breakpoint(mobile) {
        padding: 0;
        min-height: auto;
        padding-top: 13rem;
        padding-bottom: 6rem;
    }
}

.team-page__row {
    display: flex;

    @include breakpoint(mobile) {
        flex-direction: column;
    }
}

.team-page__left-col {
    width: var(--left-col-width);
    flex-shrink: 0;

    @include breakpoint(mobile) {
        width: 100%;
        flex-shrink: 1;
    }
}

.team-page__right-col {
    width: 40%;
    flex-grow: 1;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.team-page__heading {
    font-weight: 300;
    font-size: 2.6rem;
    line-height: 1.2;
    letter-spacing: 0.1rem;
    font-family: var(--orchidea);
    display: flex;
    align-items: flex-end;
    padding-top: 1rem;

    @include breakpoint(mobile) {
        padding-top: 0;
        font-size: 1.8rem;
        line-height: 1.2;
        margin-bottom: 2rem;
    }
    &::after {
        content: '';
        width: 1px;
        height: 1px;
        flex-grow: 1;
        background-color: #c3c9c8;
        margin: 0 2.5rem;
        margin-bottom: 1.2rem;

        @include breakpoint(mobile) {
            margin: 0 0.5rem;
            margin-bottom: 0.9rem;
        }
    }
}

.team-page__intro-text {
    font-size: 4.5rem;
    line-height: 6.3rem;
    font-family: var(--orchidea);

    @include breakpoint(mobile) {
        font-size: 2.2rem;
        line-height: 3.3rem;
    }
}

.team-page__intro {
    margin-bottom: 8rem;
    @include breakpoint(mobile) {
        margin-bottom: 6rem;
        padding-left: 3rem;
    }
}

.team-page__about-text {
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 3.2rem;
    padding-right: 6rem;
    margin-top: -0.6rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 2.2rem;
        margin-top: 0;
        padding: 0;
        margin-bottom: 3rem;
    }
}

.team-page__people-cards-list {
    display: flex;
    flex-wrap: wrap;
    margin: -5rem -2rem;

    @include breakpoint(mobile) {
        flex-wrap: nowrap;
        margin: 0;
        flex-direction: column;
        max-width: 25rem;
        margin: 0 auto;
    }
}

.team-page__people-cards-list-item {
    width: 50%;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        width: 100%;
        padding: 0;
        margin-bottom: 3rem;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.team-page__people-card {
    display: flex;
    flex-direction: column;
    width: 35rem;
    position: relative;


    @media screen and (max-width: 1600px) {
        width: 30rem;
    }
    @media screen and (max-width: 1280px) {
        width: 28rem;
    }
    @media screen and (max-width: 1100px) {
        width: 26rem;
    }
    @media screen and (max-width: 1060px) {
        width: 24rem;
    }
    @media screen and (max-width: 1024px) {
        width: 30rem;
    }
    @media screen and (max-width: 968px) {
        width: 28rem;
    }
    @media screen and (max-width: 920px) {
        width: 25rem;
    }
    @media screen and (max-width: 900px) {
        width: 24rem;
    }
   

    @include breakpoint(mobile) {
        width: 100%;
    }
    .no-touch &:hover {
        .team-page__people-card-image-container {
            background: #f9f9f9;
        }

        .team-page__people-card-image {
            filter: grayscale(0%);
        }

        .team-page__people-card-info-name,
        .team-page__people-card-info-role {
            &::after {
                color: var(--text-color);
            }
        }
    }
}

.team-page__people-card-image-container {
    position: relative;
    background-color: #75837f;
    transition: background-color 0.2s;
    overflow: hidden;
  
    display: block;
    padding-bottom: 140%;

    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 3.6rem), calc(100% - 3.6rem) 100%, 0 100%);

    @include breakpoint(mobile) {
        background: #f9f9f9;
    }

    @include breakpoint(mobile) {
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2.2rem), calc(100% - 2.2rem) 100%, 0 100%);
    }
}

.team-page__people-card-image {
    position: absolute;
    left: 50%;
    bottom: 0;
    height: auto;
    width: auto;
    height: 80%;
    transform: translateX(-50%);
    max-width: 100%;
    filter: grayscale(100%);
    transition: filter 0.2s;
    @include objectFitContainBottom();

    @include breakpoint(mobile) {
        height: 75%;
    }
}

.team-page__people-card-info {
    margin-top: 2rem;

    @include breakpoint(mobile) {
        margin-top: 1.5rem;
    }
}

.team-page__people-card-info-name {
    font-weight: 300;
    font-size: 2.6rem;
    line-height: 1.2;
    font-family: var(--orchidea);
    margin-bottom: 0.6rem;
    position: relative;

    @media screen and (max-width: 1280px) {
        font-size: 2.4rem;
    }

    @include breakpoint(mobile) {
        font-size: 2.2rem;
    }
}

.team-page__people-card-info-role {
    font-size: 1.4rem;
    line-height: 2.1rem;
    letter-spacing: 0.1rem;
    position: relative;
    @media screen and (max-width: 1280px) {
        font-size: 1.2rem;
        line-height: 1.2;
    }

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.2;
    }
}



.team-page__more {
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        margin-bottom: 1.5rem;
    }
}

.team-page__all-people-link {
    display: inline-flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: 1.2;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #8c9894;
    position: relative;
    z-index: 10;
    font-family: var(--orchidea);

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.2;
    }

    &:link,
    &:visited {
        color: #8c9894;
    }

    .no-touch &:hover {
        color: var(--text-color);
    }
    svg {
        width: 1.4rem;
        height: 1.4rem;
        fill: currentColor;
        flex-shrink: 0;
        margin-right: 0.8rem;

        @include breakpoint(mobile) {
            width: 1rem;
            height: 1rem;
            margin-right: 0.7rem;
        }
    }
}

.team-page__alpha-letters {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
      
        margin: 0 calc(-1 * var(--content-padding));
        margin-bottom: 2rem;
        padding: 0 var(--content-padding);
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;

        &::after {
            content: '';
            height: 1px;
            width: var(--content-padding);
            flex-shrink: 0;
        }

        @include noScrollbar();
    }
}

.team-page__alpha-letter {
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 3.1px;
    text-transform: uppercase;
    color: #75837f;
    display: inline-flex;
    align-items: center;
    flex-grow: 1;

   

    &:link,
    &:visited {
        color: #75837f;
    }


    
    .no-touch &:hover,
    .touch &:active {
        color: var(--text-color);
    }

    &::after {
        content: '•';
        font: inherit;
        padding: 0 0.3rem;
        margin: 0 auto;
        color: #75837f;

        @include breakpoint(mobile) {
            padding: 0 0.5rem;
        }
    }

    &:last-child {
        &::after {
            display: none;
        }
    }
}

.team-page__alpha-results-letter {
    min-height: 8.4rem;
    display: flex;
    align-items: center;
    border-top: 1px solid #bac1bf;
    font-size: 3.2rem;
    line-height: 1.2;
    font-family: var(--orchidea);
    padding: 0.5rem 0;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 1.2;
        min-height: 6.2rem;
    }

    
}


.team-page__alpha-results-card {
  
    font-family: var(--orchidea);
    border-top: 1px solid #bac1bf;
    display: flex;
    align-items: center;
    padding: 2.6rem 0;

    .no-touch &:hover {
        color: #8C9894;
    }

    @include breakpoint(mobile) {
        align-items: baseline;
        padding: 1.8rem 0;
    }
}

.team-page__alpha-results-block:last-child {
    .team-page__alpha-results-letter:last-child,
    .team-page__alpha-results-list-item:last-child .team-page__alpha-results-card {
        border-bottom: 1px solid #bac1bf;
    }
}

.team-page__alpha-results-card-name {
    font-size: 2.6rem;
    line-height: 1.2;
    margin-right: 2rem;
    font-weight: 400;

    @include breakpoint(mobile) {
        font-size: 2rem;
    }
}

.team-page__alpha-results-card-role {
    margin-left: auto;
    font-size: 1.4rem;
    line-height: 1.2;
    text-align: right;
    letter-spacing: 0.1rem;
    font-family: var(--circe);
    @include breakpoint(mobile) {
        font-size: 1.2rem;
    }
}
